blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}
body,
button,
input,
select,
textarea {
    font-family: "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", arial, "\5b8b\4f53"
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}
address,
cite,
dfn,
em,
var {
    font-style: normal
}
code,
kbd,
pre,
samp {
    font-family: couriernew, courier, monospace
}
small {
    font-size: 12px
}
ol,
ul {
    list-style: none
}
a {
    text-decoration: none;
    color: #808588
}
a:hover {
    color: #00a9e0;
    text-decoration: none
}
sup {
    vertical-align: text-top
}
sub {
    vertical-align: text-bottom
}
legend {
    color: #000
}
fieldset,
img {
    border: 0
}
button,
input,
select,
textarea {
    font-size: 100%
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
button,
input,
select,
textarea {
    outline: 0;
    -webkit-appearance: none
}
body,
html {
    width: 100%;
    height: 100%
}
#container {
    width: 100%;
    min-height: 100%;    
}
.bold_font {
    font-weight: 700
}
.mainbody {
    padding: 0;    
    position: relative;
    z-index: 15;
    min-height: 100%
}
.mainbody .mask {
    width: 100%;
    height: 150%;
    background: #000;
    filter: alpha(opacity=60);
    opacity: .6;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    display: none;
    margin-left: 96px
}
.top_link {
    background-color: #bdc3c6;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 12;
    height: 91px
}
.top_link .navbar-right {
    margin-right: 3%;
    float: right
}
.top_link .navbar-left {
    margin-left: 3%;
    float: left
}
.top_link .toolslink {
    text-align: center;
    padding: 5px 0 0 0;
    float: left
}
.top_link .toolslink a:hover {
    background: 0 0
}
.top_link .toolslink div {
    width: 36px;
    height: 36px;
    padding: 6px;
    margin: 0 auto;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    background-color: #2f3538
}
.top_link .toolslink div:hover {
    background-color: #808890
}
.top_link .toolslink div span {
    width: 25px;
    height: 25px;
    display: block;
    background-image: url(../images/icon_all25x25.png);
    background-repeat: no-repeat
}
.top_link .toolslink div span.icon-testdrive {
    background-position: -75px -1150px
}
.top_link .toolslink div span.icon-searchdealer {
    background-position: -75px -575px
}
.top_link .toolslink div span.icon-support {
    background-position: -75px -1075px
}
.top_link .toolslink a>span.atext {
    color: #fff
}
.top_link .car_name {
    padding-top: 25px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-right: 30px
}
.top_link .car_price {
    padding-top: 25px;
    font-size: 20px;
    line-height: 24px
}
.sub_nav {
    background-color: #808890;
    width: 100%
}
.sub_nav a {
    color: #2f3538
}
.vwicon {
    background-image: url(../images/icon_all25x25.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: block
}
#main_nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 96px;
    height: 100%;
    background-color: #fff;
    z-index: 12;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border-right: solid 1px #dee1e3
}
#main_nav li {
    border-bottom: 1px solid #dee1e3;
    text-align: center;
    padding-bottom: 10px
}
#main_nav li.logobox {
    width: 96px;
    height: 120px;
    text-align: center;
    padding-top: 20px
}
#main_nav li a {
    display: block
}
#main_nav li a .lefticon {
    background-image: url(../images/icon_leftnav.png);
    background-repeat: no-repeat
}
#main_nav li a .nav_size {
    width: 50px;
    height: 50px;
    margin: 10px auto 5px auto
}
#main_nav li a .icon-car {
    background-position: 0 0
}
#main_nav li a:hover .icon-car {
    background-position: -50px 0
}
#main_nav li a .icon-findadealer {
    background-position: 0 -50px
}
#main_nav li a:hover .icon-findadealer {
    background-position: -50px -50px
}
#main_nav li a .icon-importer {
    background-position: 0 -100px
}
#main_nav li a:hover .icon-importer {
    background-position: -50px -100px
}
#main_nav li a .icon-dealer {
    background-position: 0 -150px
}
#main_nav li a:hover .icon-dealer {
    background-position: -50px -150px
}
#main_nav li a .icon-more {
    background-position: 0 -600px
}
#main_nav li a:hover .icon-more {
    background-position: -50px -600px
}
#mobile_nav {
    display: none;
    background-color: #fff
}
#main_nav_more {
    position: fixed;
    left: 96px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fff;
    z-index: 16;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    overflow: hidden
}
#main_nav_more .desktop-searchbox {
    padding: 30px 25px 20px 25px
}
#main_nav_more .desktop-searchbox .fancy-input {
    padding: 0!important;
    position: relative;
    border: 1px solid #ccc;
    height: 36px;
    border-radius: 3px;
    width: 200px
}
#main_nav_more .fancy-input span {
    display: block;
    width: 25px;
    float: left;
    margin: 5px 5px 0 5px;
    cursor: pointer
}
#main_nav_more .fancy-input .input-wrapper-search {
    float: left;
    line-height: 36px
}
#main_nav_more .fancy-input .input-wrapper-search .searchformtext {
    height: 24px;
    border: 0;
    line-height: 24px;
    width: 150px
}
#main_nav_more .fancy-input .icon-searchglass {
    width: 25px;
    height: 25px;
    float: left;
    background-position: 0 -1025px
}
#main_nav_more ul {
    margin: 0 10px;
    width: 230px;
    overflow: hidden
}
#main_nav_more li {
    border-bottom: 1px solid #dee1e3;
    overflow: hidden
}
#main_nav_more li a {
    display: block;
    padding: 20px;
    width: 100%;
    overflow: hidden
}
#main_nav_more li a span {
    display: block;
    float: left;
    height: 25px;
    line-height: 25px;
    padding-left: 10px
}
#main_nav_more li a .nav_size {
    width: 25px;
    height: 25px;
    float: left
}
#main_nav_more li a .icon-car {
    background-position: 0 0
}
#main_nav_more li a:hover .icon-car {
    background-position: -25px 0
}
#main_nav_more li a .icon-findadealer {
    background-position: 0 -25px
}
#main_nav_more li a:hover .icon-findadealer {
    background-position: -25px -25px
}
#main_nav_more li a .icon-importer {
    background-position: 0 -50px
}
#main_nav_more li a:hover .icon-importer {
    background-position: -25px -50px
}
#main_nav_more li a .icon-dealer {
    background-position: 0 -350px
}
#main_nav_more li a:hover .icon-dealer {
    background-position: -25px -350px
}
#main_nav_more li a .icon-more {
    background-position: 0 -700px
}
#main_nav_more li a:hover .icon-more {
    background-position: -25px -700px
}
@media screen and (min-width: 641px) {
	
    .mainbody {
       margin-left: 96px
    }
}

@media screen and (max-width: 640px) {
    #container {
        position: relative;
        overflow-x: hidden;
        width: 100%;
       
    }
    .mainbody {
        margin-left: 0
    }
    #main_nav {
        display: none
    }
    .top_link {
        display: none
    }
    #mobile_nav {
        display: block;
        overflow: hidden
    }
    #mobile_nav .logobox {
        padding: 5px 20px;
        height: 60px;
        width: 120px;
        float: left
    }
    #mobile_nav .logobox img {
        height: 100%
    }
    #mobile_nav .burger_menu {
        float: right;
        width: 30px;
        margin: 20px 20px 5px 0;
        position: relative;
        height: 30px
    }
    #mobile_nav .burger_menu .burger_line {
        height: 3px;
        width: 100%;
        background-color: #0099da;
        position: absolute;
        left: 0;
        -webkit-transition: all .4s linear
    }
    #mobile_nav .burger_menu .burger_line:nth-child(1) {
        top: 0
    }
    #mobile_nav .burger_menu .burger_line:nth-child(2) {
        top: 8px
    }
    #mobile_nav .burger_menu .burger_line:nth-child(3) {
        top: 16px
    }
    #mobile_nav .burger_menu .hideline {
        opacity: 0
    }
    #mobile_nav .burger_menu .rotate {
        -webkit-transform: rotate(45deg);
        -webkit-transform-origin: 8px 0
    }
    #mobile_nav .burger_menu .re_rotate {
        -webkit-transform: rotate(-45deg);
        -webkit-transform-origin: 0 0
    }
    #main_nav_more {
        top: 60px;
        left: 100%;
        width: 100%;
        position: absolute;
        height: auto
    }
    #main_nav_more ul {
        margin: 0 2%;
        width: 96%;
        overflow: hidden
    }
    #main_nav_more .desktop-searchbox {
        padding: 30px 2% 20px 2%
    }
    #main_nav_more .desktop-searchbox .fancy-input {
        width: 100%
    }
    #main_nav_more .mobile_nav_shadow {
        background: transparent linear-gradient(to bottom, rgba(0, 0, 0, .15) 0, transparent 100%) repeat scroll 0 0;
        height: 8px;
        width: 100%
    }
}
.vr_erweima {
    display: none;
    position: absolute;
    top: 102%;
    left: 0;
    width: 100%
}
.select-box select {
    width: 100%;
    height: 32px;
    background: #fff;
    border: 1px solid #dee1e3;
    border-radius: 4px;
    line-height: 32px;
    font-size: 14px;
    padding: 0 12px;
    -webkit-appearance: none;
    color: #414742
}
.select-box select {
    background: url(../images/select-mob-bg-small.png) top right no-repeat #fff;
    margin-bottom: 3px;
    color: #999
}
.select-box .chosen-container-single .chosen-single {
    box-shadow: none;
    padding: 0 12px 0 12px
}
.select-box .chosen-container-single .chosen-drop {
    margin-top: -2px
}
.select-box .chosen-container-single .chosen-single div {
    width: 16px;
    right: 10px
}
.select-box .chosen-container-single .chosen-single div b {
    background: url(../images/select-bg-small.png) top left no-repeat
}
.select-box .chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #dee1e3;
    background-image: none
}
.select-box .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: 0 -32px
}
.select-box .chosen-single {
    height: 32px;
    background: #fff;
    border: 1px solid #dee1e3;
    border-radius: 4px;
    line-height: 32px;
    font-size: 14px
}
.select-box .chosen-container .chosen-drop {
    border: 1px solid #dee1e3;
    box-shadow: none
}
.select-box .chosen-container .chosen-results {
    padding: 0;
    margin: 0
}
.select-box .chosen-container .chosen-results li {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    padding: 0 12px;
    color: #000
}
.select-box .chosen-container .chosen-results li:nth-of-type(odd) {
    background: #f3f5f6
}
.select-box .chosen-container .chosen-results li.highlighted {
    background: #1597d9
}
.input-box input {
    width: 100%;
    height: 32px;
    background: #fff;
    border: 1px solid #dee1e3;
    border-radius: 2px;
    line-height: 32px;
    font-size: 14px;
    padding: 0 12px
}
.radio-box span.radio {
    width: 30px;
    height: 30px;
    background: url(../images/radio-box.png);
    background-repeat: no-repeat;
    background-size: 30px 60px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer
}
.radio-box span.radio.selected {
    background-position: 0 -30px
}
.check-box span.check {
    width: 30px;
    height: 30px;
    background: url(../images/check-box.png);
    background-repeat: no-repeat;
    background-size: 30px 60px;
    background-position: 0 -30px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer
}
.check-box span.check.checked {
    background-position: 0 0
}
.popup {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../images/popup-bg.png);
    z-index: 2000;
    display: none
}
.popup .popup-content {
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 400px;
    max-width: 100%;
    text-align: center
}
.popup .popup-content a.popup-close {
    width: 35px;
    height: 35px;
    background: url(../images/dealer-popup-close.png);
    position: absolute;
    top: 10px;
    right: 10px
}
.popup .popup-content .content-box {
    margin: 42px
}