body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea {font-family: "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", arial, "\5b8b\4f53" }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; color: #808588; }
a:hover { color:#00a9e0;text-decoration:none;}
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
/* -----------------------------初始化------------------------------------ */

html,body{width: 100%;height: 100%; }
#container{width: 100%;height: 100%;min-width: 1000px;}
.bold_font{	font-weight:bold;	}

.mainbody{padding: 0; margin-left: 96px; position: relative; z-index:15;min-height: 100%;}
.mainbody .mask{width:100%;height:150%; background:#000;filter:alpha(opacity=60);opacity:0.6; position:fixed;left:0;top:0; z-index:20; display: none;margin-left: 96px;}
//.container-fluid{ overflow-x: hidden;}

.top_link{background-color: #bdc3c6; position: absolute;left: 0; right: 0; top: 0; z-index: 12;width: 100%;height: 91px; li{float: left;}}
.top_link .navbar-right{margin-right: 3%;float: right;}
.top_link .navbar-left{margin-left: 3%;float: left;}
.top_link .toolslink{ text-align: center; padding: 5px 0 0 0;float: left;}
.top_link .toolslink a:hover{background: none;}
.top_link .toolslink div{width: 36px;height: 36px;padding:6px;  margin: 0 auto;border-radius:18px;-moz-border-radius: 18px; -webkit-border-radius: 18px; background-color:#2f3538; }
.top_link .toolslink div:hover{background-color:#808890;}
.top_link .toolslink div span{width: 25px; height: 25px;display:block;background-image: url("../images/icon_all25x25.png");background-repeat: no-repeat;}
.top_link .toolslink div span.icon-testdrive{background-position: -75px -1150px;}
.top_link .toolslink div span.icon-searchdealer{background-position: -75px -575px;}
.top_link .toolslink div span.icon-support{background-position: -75px -1075px;}
.top_link .toolslink a>span.atext{color: #fff;}
.top_link .car_name{padding-top:25px;font-size: 20px; line-height: 24px; font-weight: bold; margin-right: 30px;}
.top_link .car_price{padding-top:25px;font-size: 20px; line-height: 24px;}

.sub_nav{background-color: #808890; width: 100%;}
.sub_nav a{color: #2f3538;}


.vwicon{background-image: url("../images/icon_all25x25.png");background-repeat: no-repeat; width: 25px; height: 25px;display: block;}
#main_nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 96px;
    height: 100%;
    background-color: rgba(255,255,255,1);
    z-index: 12;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border-right: solid 1px #dee1e3;
   //box-shadow:0px 0px 10px 5px #dee1e3;
/*投影方式 X轴偏移量 Y轴偏移量 阴影模糊半径 阴影扩展半径 阴影颜色;*/
}
#main_nav li{
    border-bottom: 1px solid #dee1e3;
    text-align: center;
	padding-bottom: 10px;
}
#main_nav li.logobox{
    width: 96px;
    height: 120px;
    text-align: center;
    padding-top: 20px;
}

#main_nav li a{display: block;}
#main_nav li a .lefticon{background-image: url("../images/icon_leftnav.png");background-repeat: no-repeat;}
#main_nav li a .nav_size{ width: 50px; height: 50px; margin: 10px auto 5px auto;}
#main_nav li a .icon-car{background-position:0 0; }
#main_nav li a:hover .icon-car{background-position:-50px 0; }
#main_nav li a .icon-findadealer{background-position:0px -50px; }
#main_nav li a:hover .icon-findadealer{background-position:-50px -50px; }
#main_nav li a .icon-importer{background-position:0px -100px;}
#main_nav li a:hover .icon-importer{background-position:-50px -100px;}
#main_nav li a .icon-dealer{background-position:0px -150px;}
#main_nav li a:hover .icon-dealer{background-position:-50px -150px;}
#main_nav li a .icon-more{background-position:0px -600px;}
#main_nav li a:hover .icon-more{background-position:-50px -600px;}

#mobile_nav{display: none;}
#main_nav_more{ position: fixed;left: 96px;top: 0; width: 0px;height: 100%;background-color: rgb(255,255,255);
z-index: 16;-webkit-transform-origin: 0 0;transform-origin: 0 0;overflow: hidden;
}
#main_nav_more .desktop-searchbox { padding: 30px 25px 20px 25px; }
#main_nav_more .desktop-searchbox .fancy-input {padding: 0 !important;position: relative;border: 1px solid #ccc;height: 36px;border-radius: 3px;width: 200px;}
#main_nav_more .fancy-input span{display: block; width: 25px; float: left; margin:5px 5px 0 5px; cursor: pointer;}
#main_nav_more .fancy-input .input-wrapper-search{float: left; line-height: 36px;}
#main_nav_more .fancy-input .input-wrapper-search .searchformtext{height: 24px; border: 0px; line-height: 24px; width: 150px; }
#main_nav_more .fancy-input .icon-searchglass{width:25px; height: 25px; float: left; background-position:0px -1025px;}
#main_nav_more ul{margin: 0 10px;width: 230px; overflow: hidden;}
#main_nav_more li{ border-bottom:1px solid #dee1e3; overflow: hidden }
#main_nav_more li a{display: block; padding:20px; width: 100%; overflow: hidden;}
#main_nav_more li a span{display: block; float: left;height: 25px; line-height: 25px; padding-left: 10px;}
#main_nav_more li a .nav_size{width: 25px; height: 25px;float: left;}
#main_nav_more li a .icon-car{background-position:0 0; }
#main_nav_more li a:hover .icon-car{background-position:-25px 0; }
#main_nav_more li a .icon-findadealer{background-position:0px -25px; }
#main_nav_more li a:hover .icon-findadealer{background-position:-25px -25px; }
#main_nav_more li a .icon-importer{background-position:0px -50px;}
#main_nav_more li a:hover .icon-importer{background-position:-25px -50px;}
#main_nav_more li a .icon-dealer{background-position:0px -350px;}
#main_nav_more li a:hover .icon-dealer{background-position:-25px -350px;}
#main_nav_more li a .icon-more{background-position:0px -700px;}
#main_nav_more li a:hover .icon-more{background-position:-25px -700px;}

