.config_top{
	text-align:center;
	background:#f1f5f7;
	position:fixed;
	width:100%;
}
.config_top .top_title{
	font-size:30px;
	font-weight:bold;
	padding:45px 0;
}
.config_top .top_default .car_name{
	font-size:26px;
	margin:20px 0 5px 0;
}
.config_top .top_default .car_price{
	font-size:18px;
}
.config_top .config_link_box{
	margin-top:15px;
	padding-bottom:40px;
}
.config_top .config_btn_group{
	width:250px;
	height:42px;
	display:inline-block;
	line-height:42px;
	border-radius:5px;
}
.config_top .join_btn{
	background:#0498da;
	color:#fff;
	margin-right:10px;
}
.config_top .download_btn{
	margin-left:10px;
	color:#61bde5;
	border:1px solid #eff2f3;
	background:#fff;
}
.top_close{
	display:none;	
}
a.btn-close{
	width: 35px;
    height: 35px;
    position: fixed;
    top: 20px;
    right: 20px;
    background: url(../images/dealer-popup-close.png);	
}
.top_change{
	text-align:left;
	height:128px;	
	padding-left:4%;
	display:none;
}
.top_change div{
	display:inline-block;	
}
.top_change .car_name{
	line-height:128px;
	margin-right:52px;
	font-size:18px;
}
.top_change .car_price{
	vertical-align: middle;
}
.top_change .config_link_box{
	position:absolute;
	right:10%;	
	margin:0;
	padding:0;
	line-height:128px;
}
.top_change .config_btn_group{
	text-align:center;	
}

.nav-box{
	text-align:left;	
}
.nav-box.fixed {
	position: fixed
}
.nav {
	height: 50px;
	background-color: #788087;
	padding: 0 4%
}
.nav a {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	color: #000;
	font-size: 16px;
	margin-right: 4%;
	text-decoration: none;
	font-weight: 700
}
.nav a.active {
	color: #fff
}
.nav_mobile {
	display: none;
}
div.button {
	height: 38px;
	text-align: right;
	line-height: 38px;
	background-color: #f3f5f6;
	padding-right: 10%;
	font-size: 12px
}
div.button span {
	display: inline-block;
	margin-right: 24px
}
div.button span img {
	width: 12px;
	float: left;
	margin-top: 12px;
	margin-right: 7px
}

.config_table{
	width:100%;	
}
.config_table  tr td:nth-child(1){
	padding-left:4%;
	width:50%;	
}
.config_table  tr td{
	height:138px;
	font-size:18px;	
}
.config_table .config_title{
	font-size:32px;
	font-weight:bold;
}
.intro_text{
	color:#7a8588;
	font-size:14px;
	padding:32px 4% 32px 4%;	
}

.config_content{
	padding-top:499px;	
}


@media screen and (max-width:640px){
	.config_top{
		position:static;	
	}
	.config_content{
		padding-top:0;	
	}
	.config_top .top_title{padding:0;height:60px;line-height:60px;background:#b1b8ba;margin-bottom:35px;font-size:26px;}
	.top_close{
		display:inline-block;
		width:15px;
		height:60px;
		line-height:60px;	
		position:absolute;
		left:4%;		
	}
	.nav{display:none;}
	.nav_mobile{
		display:block;
		position:relative;
	}
	.nav_mobile .btn-select{
		display:block;
		background:#788087;
		height:50px;
		padding-left:58px;
		color:#fff;
	}
	.nav_mobile .select_icon img{
		border-radius: 18px;
		-moz-border-radius: 18px;
		-webkit-border-radius: 18px;	
	}
	.nav_mobile .select_icon{
		position:absolute;
		top:12px;
		left:20px;
		-moz-transform:rotate(180deg); 
		-webkit-transform:rotate(180deg);
		transform:rotate(180deg);
	}
	.nav_mobile a{display:block;color:#000;font-size:18px;padding-left:4%;line-height:50px;}
	.select_list{display:none;}
	.select_list li{background:#788087;border-top:1px solid #fff;}
	.select_list li a{display:block;}
	.btn-close{display:none;}
	.config_btn_group.download_btn{display:none;}	
	.config_top .join_btn{margin:0;}
	div.button{text-align:right;padding:0;}
	
	.top_change{
		height:85px;	
	}
	.top_change .car_name{
		font-size:12px;
		line-height:50px;
		margin:0;
		display:block;
	}
	.top_change .car_price{
		font-size:12px;	
	}
	.top_change .config_link_box{
		line-height:0;
		right:2%;	
		top:21px;
		width:40%;
		padding-bottom:20px;
	}
	.config_top .top_default .car_name{
		font-size:20px;	
	}
	.top_default .config_link_box{
		width:55%;
		margin:20px auto 0 auto;	
		padding-bottom:20px;
	}
	.config_top .top_default .car_name{
		font-size:18px;
	}
	.config_top .top_default .car_price{
		font-size:16px;
	}
	.config_top .top_default .image_box img{
		width:50%;
	}
	.config_top .config_btn_group{
		width:100%;		
	}
	.config_table  tr td:nth-child(1){
		padding-left:4%;
		width:60%;	
	}
	.config_table  tr td:nth-child(2){
		width:40%;	
		text-align:center;
	}
	.config_table .config_title{
		height:80px;
		font-size:20px;
	}
	.config_table  tr td{
		height:66px;
		font-size:16px;
	}
}
