#container{
	position: relative;
	.mainbody{
		.dealer-right{
			width: 428px;height: 100%;background-color: #ffffff;
			position: absolute;right: 0;top: 0;
			.dealer-form{
				position: absolute;top: 91px;
				width: 100%;height: 287px;
				background-color: #1597d9;
				z-index: 10;
				color: #ffffff;
				padding-left: 30px;
				//div{margin-left: 30px;}
				.title{
					font-size: 24px;margin-top: 12px;
				}
				p{margin: 4px 0;}
				select{width: 366px;height: 44px;}
				.chosen-container-single .chosen-single{
					box-shadow: none;
					padding: 0 12px 0 12px;
				}
				.chosen-container-single .chosen-drop{
					margin-top: -4px;
				}
				.chosen-container-single .chosen-single div{
					width: 20px;right: 16px;
				}

				.chosen-container-single .chosen-single div b{
					background: url(../images/select-bg.png) top left no-repeat;
				}
				.chosen-container-active.chosen-with-drop .chosen-single div b{
					background-position: 0 -44px;
				}
				.chosen-single{
					height: 44px;
					background: #ffffff;
					border:1px solid #dee1e3;
					border-radius: 4px;
					line-height: 44px;
					font-size: 16px;
				}
				.chosen-container .chosen-drop{
					border:1px solid #dee1e3;
					box-shadow: none;
				}
				.chosen-container .chosen-results {
					padding: 0;margin: 0;
				}
				.chosen-container .chosen-results li{
					height: 44px;line-height: 44px;
					font-size: 16px;padding: 0 12px;
					color: #000000;
					&:nth-of-type(odd){
						background: #f3f5f6;
					}
				}
				.chosen-container .chosen-results li.highlighted{
					background: #1597d9;
				}
			}
			h3.search-title{
				background-color: #f3f5f6;
				height: 45px;line-height: 45px;width: 100%;
				font-size: 20px;
				padding-left: 32px;
				position: absolute;top: 377px;
			}
			.search-result{
				position: absolute;top: 0;
				color: #414742;
				height: 100%;width: 100%;
				padding-top: 410px;
				
				.search-result-box{
					font-size: 18px;height: 100%;
					overflow: auto;
					ul li{
						padding-left: 32px;padding-top: 30px;padding-bottom: 30px;
						cursor: pointer;
						&.li-bg{
							background-color: #f3f5f6;
						}
					}
					p{line-height: 28px;}
					p.name{
						height: 30px;line-height: 30px;
						.name-icon{margin-left: 10px;}
					}
					p.address,p.phone{font-size: 16px;}
				}
			}
		}
		.dealer-map{
			position: absolute;left: 0;top: 0;
			width: 100%;height: 100%;
			padding-right: 428px;padding-top: 91px;
			#dealer-map{
				width: 100%;height: 100%;
				.anchorBL{display:none}
			}
			.dealer-popup{
				position: absolute;top: 100px;left: 200px;
				width: 575px;height: 324px;
				background: url(../images/dealer-popup-bg.png);
				a.dealer-popup-close{
					position: absolute;top: 24px;right: 26px;
					width: 35px;height: 35px;
				}
			}
		}	
	}
	
}