html,body{
	width: 100%;height: 100%;color: #414742;
}
#container{
	overflow: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling : touch;
	background-color: #f3f5f6;
	
	.line,.line-map{
		padding: 0 15px;margin-bottom: 22px;
		p{font-size: 16px; span{color: #f54336;}}
		a#btn-map{
			display: block;
			overflow: hidden;
			img{float: left;width: 100%;}
		}

	}
	.line.must.warning{
		select,input{
			border:1px solid #c82e2d;
		}
		
	}
	select,input{
		width: 100%;
		height: 44px;
		background: #ffffff;
		border:1px solid #dee1e3;
		border-radius: 4px;
		line-height: 44px;
		font-size: 16px;
		padding: 0 12px;
		-webkit-appearance:none;
		color: #414742;
	}
	
	select{
		background: url(../images/select-mob-bg.png) top right no-repeat #ffffff;
		margin-bottom: 3px;
		color: #999;
	}
	.line{
		margin-bottom: 22px;
		position: relative;
		&.warning{
			p.warning{display: block;}
		}
		p.warning{
			position: absolute;bottom: -30px;
			font-size: 12px;color: #c82e2d;
			display: none;
		}
		p{margin-bottom: 10px;}
		
	}

	.dealer-mobile-form{//display: none;
		//padding-bottom: 20px;
		h2{
			width: 100%;height: 50px;line-height: 50px;
			color: #ffffff;font-size: 18px;
			padding: 0 15px;
			text-align: center;
			background: url(../images/icon-h2-arrow.png) 15px center no-repeat #0099da;
			position: relative;
			a.btn-back{
				height: 50px;width: 50px;
				position: absolute;left: 0;
			}
		}
		.note{
			padding: 0 15px;margin-top: 10px;margin-bottom: 10px;
			p{color: #0099da;text-align: center;font-size: 16px;}
			
		}
		
		div.dealer-list{
			h3{
				height: 40px;line-height: 40px;
				background-color: #0099da;
				color: #ffffff;
				padding-left: 15px;
				font-size: 14px;
			}
			ul{
				li{
					padding: 15px;background-color: #ffffff;
					position: relative;
					height: 110px;
					overflow: hidden;//height: 500px;
					//-webkit-transition:.5s ease all;
					
					&.selected{
						height: 520px;
						div.icon{
							-webkit-transform:rotate(0deg);
						}
					}
					&.li-bg{
						background-color: #f3f5f6;
					}
					&.note{
						text-align: center;font-size: 18px;color: #dee1e3;line-height: 40px;
					}
					p{
						line-height: 24px;
						font-size: 14px;
						&.name{font-size: 18px;}
						span{color: #0099da;}
					}
					p.name{
						height: 30px;line-height: 30px;
						.name-icon{margin-left: 10px;}
					}
					p.address,p.phone{font-size: 14px;a{color: #00a9e0}}
					div.icon{
						width: 20px;height: 44px;
						background-image: url(../images/select-bg.png);
						position: absolute;top: 33px;right: 15px;
						-webkit-transform:rotate(-90deg);
						-webkit-transition:.5s ease all;
					}
					div.other{
						margin-top: 20px;
						border-top: 1px solid #000000;
						position: relative;
						text-align: center;
						.distance{
							margin: 10px 0;text-align: left;
							span{color: #0099da;}
							a{
								display: inline-block;
								background: url(../images/icon4.png) left center no-repeat;
								padding-left: 24px;
								background-size: 16px auto;
								margin-left: 30px;height: 30px;line-height: 30px;
								color: #0099da;text-decoration: underline;font-size: 16px;
							}
						}
						a.btn-testdrive{
							display: inline-block;
							color: #ffffff;font-size: 16px;text-align: center;
							background-color: #0099da;
							border-radius: 4px;
							margin-top: 10px;
							width: 140px;height: 44px;line-height: 44px;
						}
						div.code{
							margin: 15px 0;overflow: hidden;
							height: 44px;line-height: 44px;
							font-size: 16px;color: #0099da;
							input{
								width: 70%;float: left;
							}
							a{
								display: inline-block;
								color: #ffffff;font-size: 16px;text-align: center;
								background-color: #0099da;
								border-radius: 4px;
								margin: 0 auto;
								width: 25%;height: 44px;line-height: 44px;
								float: right;
							}
						}
						img.dealer-pic{
							width: 100%;
						}
						a.btn-dealer-index{
							display: inline-block;
							text-decoration: underline;
							background: url(../images/icon-arrow1.png) left center no-repeat;
							padding-left: 24px;
							font-size: 18px;color: #0099da;
							margin-top: 16px;
						}
					}
				}
			}
		}
	}
	.popup{
		background: rgba(0,0,0,0.8);
		position: fixed;top: 0;left: 0;
		width: 100%;height: 100%;
		display: none;
		&#popup-map{//display: block;
			position: absolute;
			padding-top: 106px;overflow: hidden;
			.popup-map-top{
				position: absolute;top: 0;
				height: 60px;width: 100%;overflow: hidden;
				h2{color: #ffffff;font-size: 18px;float: left;height: 60px;line-height: 60px;margin-left: 15px;}
				a{float: right;display: inline-block;color: #0099da;height: 60px;line-height: 60px;margin-right: 15px;font-size: 18px;}
			}
			.map-menu{
				position: absolute;top: 60px;z-index: 10;overflow: hidden;
				height: 46px;width: 100%;
				background-color: #ffffff;
				-webkit-transition:all 0.4s linear;
				&.open{
					height: 400px;
					div.arrow{
						-webkit-transform:rotate(-180deg);
					}
				}
				h3{text-align: center;color: #0099da;font-size: 16px;line-height: 28px;margin-bottom: 20px;}
				div.arrow{
					width: 60px;height: 44px;
					background: url(../images/select-bg.png) no-repeat;
					background-position: center 10px;
					position: absolute;left: 50%;bottom: 0px;margin-left: -30px;
					z-index: 10;
				}
			}
			#dealer-map{
				width: 100%;height: 100%;
				.anchorBL{display:none}
			}
			#map-dealer-info{
				width: 100%;height: 100%;overflow: hidden;
				position: absolute;top: 100%;
				z-index: 100;
				//background-color: rgba(0,0,0,0.8);
				.mask{
					background-color: rgba(0,0,0,0.8);
					position: absolute;top: 0;left: 0;
					width: 100%;height: 100%;
					opacity: 0;-webkit-transition:all .5s ease;
				}
				&.show{
					top: 0;
					.mask{
						opacity: 1;
					}
				}
				.map-dealer-info-content{
					width: 100%;height: 480px;
					position: absolute;bottom: 0;
					background-color: #f3f4f6;
					a.map-dealer-info-close{
						width: 28px;height: 28px;
						background: url(../images/dealer-popup-close.png);
						position: absolute;top: 10px;right: 10px;
						background-size: 100% 100%;
						z-index: 20;
					}

					div.info{
						padding: 15px;background-color: #ffffff;
						position: relative;
						height: 100%;
						overflow: hidden;//height: 500px;
						
						p{
							line-height: 24px;
							font-size: 14px;
							&.name{font-size: 18px;}
							span{color: #0099da;}
						}
						p.name{
							height: 30px;line-height: 30px;
							.name-icon{margin-left: 10px;}
						}
						p.address,p.phone{font-size: 14px;a{color: #00a9e0}}
						div.icon{
							width: 20px;height: 44px;
							background-image: url(../images/select-bg.png);
							position: absolute;top: 33px;right: 15px;
							-webkit-transform:rotate(-90deg);
							display: none;
						}
						div.other{
							margin-top: 20px;
							border-top: 1px solid #000000;
							position: relative;
							text-align: center;
							.distance{
								margin: 10px 0;text-align: left;
								span{color: #0099da;}
								a{
									display: inline-block;
									background: url(../images/icon4.png) left center no-repeat;
									padding-left: 24px;
									background-size: 16px auto;
									margin-left: 30px;height: 30px;line-height: 30px;
									color: #0099da;text-decoration: underline;font-size: 16px;
								}
							}
							a.btn-testdrive{
								display: inline-block;
								color: #ffffff;font-size: 16px;text-align: center;
								background-color: #0099da;
								border-radius: 4px;
								width: 140px;height: 44px;line-height: 44px;
							}
							div.code{
								margin: 15px 0;overflow: hidden;
								height: 44px;line-height: 44px;
								font-size: 16px;color: #0099da;
								input{
									width: 70%;float: left;
								}
								a{
									display: inline-block;
									color: #ffffff;font-size: 16px;text-align: center;
									background-color: #0099da;
									border-radius: 4px;
									margin: 0 auto;
									width: 25%;height: 44px;line-height: 44px;
									float: right;
								}
							}
							img.dealer-pic{
								width: 100%;
							}
							a.btn-dealer-index{
								display: inline-block;
								text-decoration: underline;
								background: url(../images/icon-arrow1.png) left center no-repeat;
								padding-left: 24px;
								font-size: 18px;color: #0099da;
								margin-top: 16px;
							}
						}
					}
					
				}
			}
			.navigation{
				width: 100%;height: 50px;
				position: absolute;bottom: 0;
				background-color: #ffffff;
				z-index: 100;
				box-shadow: 0 -1px 1px rgba(0,0,0,.2);
				display: none;
				.navi-link {
				    padding: 5px 4px;
				    padding-right: 8px;
				    position: relative;
				    top: -3px;
				    display: inline-block;
				    color: #fff;
				    border-radius: 3px;
				    font-size: 13px;
				    position: absolute;right: 10px;top: 10px;
				    background: url(../images/nav-bg.png) 6px center no-repeat #3385ff;
				    padding-left: 22px;
				}
				.navi-text{
					position: absolute;top: 10px;left: 10px;
					line-height: 27px;
					font-weight: bold;font-size: 16px;
					span{display: inline-block;margin-right: 10px;}
				}
			}
		}
		&#popup-location{
			
			background-color: rgba(0,0,0,0.3);
			div.content{
				width: 260px;height: 140px;text-align: center;
				background-color: #f3f5f6;
				position: fixed;top: 50%;left: 50%;margin-left: -130px;margin-top: -70px;
				padding-top: 30px;
				p{font-size: 14px;line-height: 24px;margin-top: 16px;}
				a.popup-close{
					width: 28px;height: 28px;
					background: url(../images/dealer-popup-close.png);
					position: absolute;top: 10px;right: 10px;
					background-size: 100% 100%;
				}
			}
		}
	}
}