body {
	overflow-y: scroll
}

.clear {
	clear: both
}

.sub_nav {
	position: relative
}

.sub_nav .login-box {
	position: absolute;
	right: 5%;
	top: 0;
	height: 40px;
	line-height: 40px;
	color: #fff
}

.sub_nav .login-box p {
	display: inline-block;
	margin-right: 46px
}

.sub_nav .login-box a {
	color: #fff
}

.sub_nav .login-box .user-name {
	background: url(../images/recruit/user-icon.png) center left no-repeat;
	padding-left: 16px;
	margin-right: 10px
}

.nav-pills li.active a, .nav-pills li.active a:focus, .nav-pills li.active a:hover
	{
	background-color: #808890
}

.warning .chosen-single, .warning input, .warning select {
	border: 1px solid #c92e2c
}

#recruit {
	padding-top: 131px;
	text-align: center;
	background-color: #ffffff;
	min-height: 630px;
}

#recruit .banner {
	overflow: hidden
}

#recruit .banner img {
	float: left;
	width: 100%
}

#recruit .text {
	text-align: left;
	font-size: 12px;
	line-height: 18px;
	margin: 34px 5%
}

#recruit a.btn {
	background-color: #0096dc;
	color: #fff;
	display: inline-block;
	width: 178px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 0 9px;
	margin-bottom: 18px;
	padding: 0;
	border-radius: 4px;
	font-size: 14px
}

#recruit.recruit-details h2 {
	font-size: 24px;
	font-weight: 700;
	margin-top: 52px;
	margin-bottom: 20px
}

#recruit.recruit-details a.reg-now {
	margin-bottom: 24px
}

#recruit.recruit-details .details_list {
	border-top: 2px solid #d2d2d2
}

#recruit.recruit-details .details_list li {
	border-bottom: 2px solid #d2d2d2;
	text-align: left;
	background: url(../images/icon-arrow2.png) 65px 27px no-repeat;
	height: 70px;
	overflow: hidden
}

#recruit.recruit-details .details_list li h3 {
	height: 70px;
	line-height: 70px;
	font-size: 16px;
	cursor: pointer;
	padding-left: 104px;
	border-bottom: 2px solid #d2d2d2
}

#recruit.recruit-details .details_list li.show {
	height: auto;
	background: url(../images/icon-arrow2-d.png) 62px 25px no-repeat
}

#recruit.recruit-details .details_list li .content {
	padding: 30px 104px;
	text-align: center
}

#recruit.recruit-details .details_list li .content ul.text-list li {
	background: url(../images/icon-arrow3.png) 0 4px no-repeat;
	line-height: 18px;
	height: auto;
	padding-left: 20px;
	border: none;
	margin-bottom: 18px
}

#recruit.recruit-details .details_list li .content ul.text-list li.color
	{
	color: #0099db
}

#recruit.recruit-details .details_list li .content ul.text-list li h4 {
	font-weight: 700;
	margin-bottom: 9px
}

#recruit.recruit-details .details_list li .content ul.text-list li p {
	margin: 9px 0
}

#recruit.recruit-details .details_list li .content table {
	text-align: center;
	border-top: 2px solid #ccd0d2;
	border-left: 2px solid #ccd0d2
}

#recruit.recruit-details .details_list li .content table tr {
	border-bottom: 2px solid #ccd0d2
}

#recruit.recruit-details .details_list li .content table tr.bg1 {
	background-color: #fbfbfb
}

#recruit.recruit-details .details_list li .content table tr.bg {
	background-color: #bdc3c7
}

#recruit.recruit-details .details_list li .content table tr.bg td {
	padding: 2px
}

#recruit.recruit-details .details_list li .content table tr td {
	border-right: 2px solid #ccd0d2;
	padding: 10px
}

#recruit.recruit-details .details_list li .content table tr td.bold {
	font-weight: 700
}

#recruit.recruit-details .details_list li .content .select-box {
	position: relative;
	padding-left: 86px;
	padding-right: 169px;
	text-align: center;
	height: 32px;
	line-height: 32px
}

#recruit.recruit-details .details_list li .content .select-box p {
	display: inline-block;
	position: absolute;
	left: 0
}

#recruit.recruit-details .details_list li .content .select-box a.btn {
	position: absolute;
	right: 0;
	margin: 0;
	margin-top: 3px
}

#recruit.recruit-details .details_list li .content .select-box .chosen-container
	{
	text-align: left
}

#recruit.recruit-details .details_list li .content .select-box li {
	border: none;
	background: 0 0;
	height: 32px
}

#recruit.recruit-details .details_list li .content .city-list {
	margin-top: 20px;
	border: 0
}

#recruit.recruit-details .details_list li .content .city-list table {
	border: 0;
	border-bottom: 2px solid #d2d2d2
}

#recruit.recruit-details .details_list li .content .city-list table tr {
	border: 0
}

#recruit.recruit-details .details_list li .content .city-list table tr.frist
	{
	background-color: #adb5b5
}

#recruit.recruit-details .details_list li .content .city-list table tr.frist td
	{
	text-align: center
}

#recruit.recruit-details .details_list li .content .city-list table tr.bg
	{
	background-color: #eef0ee
}

#recruit.recruit-details .details_list li .content .city-list table tr.bg td
	{
	padding: 10px
}

#recruit.recruit-details .details_list li .content .city-list table tr td
	{
	border: 0;
	line-height: 24px;
	text-align: left
}

#recruit.recruit-details .details_list li .content .city-list table tr td.center
	{
	text-align: center
}

#recruit.recruit-details .details_list li .content .city-list table tr td .radio
	{
	margin: 0
}

#recruit.recruit-details .details_list li .content .city-list .page-list
	{
	font-size: 12px;
	margin: 28px 0
}

#recruit.recruit-details .details_list li .content .city-list .page-list a
	{
	background-color: #bcc3c3;
	display: inline-block;
	height: 15px;
	line-height: 15px;
	padding: 0 4px;
	color: #fff;
	border-radius: 2px;
	margin: 0 5px;
	text-decoration: none
}

#recruit.recruit-details .details_list li .content .city-list .page-list a.active,
	#recruit.recruit-details .details_list li .content .city-list .page-list a:hover
	{
	background-color: #0096dc
}

#recruit.recruit-reg {
	background-color: #f1f2f4;
	overflow: hidden
}

#recruit.recruit-reg h2 {
	font-size: 24px;
	font-weight: 700;
	margin-top: 52px;
	margin-bottom: 20px;
	text-align: center
}

#recruit.recruit-reg .form {
	width: 34%;
	text-align: center;
	margin: 0 auto
}

#recruit.recruit-reg .form .warning .chosen-single, #recruit.recruit-reg .form .warning input,
	#recruit.recruit-reg .form .warning select {
	border: 1px solid #c92e2c
}

#recruit.recruit-reg .form .warning p.warning {
	display: block
}

#recruit.recruit-reg .form .line.input-box {
	position: relative;
	padding-left: 60px;
	line-height: 32px;
	margin-bottom: 28px
}

#recruit.recruit-reg .form .line.input-box input {
	font-size: 12px
}

#recruit.recruit-reg .form .line.input-box p {
	position: absolute;
	left: 0;
	font-size: 12px
}

#recruit.recruit-reg .form .line.input-box.code {
	padding-right: 145px
}

#recruit.recruit-reg .form .line.input-box.code a.get-code {
	background-color: #0095dd;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	line-height: 32px;
	height: 32px;
	width: 134px;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 12px;
	text-decoration: none
}

#recruit.recruit-reg .form .line.input-box.code a.get-code.no-click {
	background-color: #bdc3c6;
	color: #878e96;
	border: 1px solid #878e96
}

#recruit.recruit-reg .form .line.input-box p.warning {
	left: 60px;
	line-height: 20px;
	color: #c92e2c
}

#recruit.recruit-reg .form .clause {
	line-height: 23px;
	padding-left: 60px;
	text-align: left
}

#recruit.recruit-reg .form .clause span.check {
	float: left
}

#recruit.recruit-reg .form .clause p {
	display: inline-block;
	font-size: 12px
}

#recruit.recruit-reg .form .clause p a {
	color: #0095dc
}

#recruit.recruit-reg .form a.submit {
	background-color: #0095dd;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	line-height: 32px;
	height: 32px;
	width: 168px;
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 50px;
	font-size: 12px
}

#recruit.record-record {
	text-align: left;
	padding-left: 5%;
	padding-right: 5%
}

#recruit.record-record .userinfo {
	margin-top: 50px
}

#recruit.record-record .userinfo a {
	color: #0099da
}

#recruit.record-record .tab {
	margin-top: 16px
}

#recruit.record-record .tab a {
	margin-right: 50px;
	text-decoration: none
}

#recruit.record-record .tab a.active {
	color: #0099da;
	display: inline-block;
	border-bottom: 3px solid #0099da
}

#recruit.record-record table {
	border: 0;
	margin-top: 6px;
	font-size: 12px
}

#recruit.record-record table tr {
	border: 0
}

#recruit.record-record table tr.frist {
	background-color: #adb5b5
}

#recruit.record-record table tr.bg {
	background-color: #eef0ee
}

#recruit.record-record table tr.bg td {
	padding: 18px 0
}

#recruit.record-record table tr td {
	border: 0;
	line-height: 24px;
	text-align: center;
	padding: 16px 0
}

#recruit.record-record table tr td.center {
	text-align: center
}

#recruit.record-record table tr td .radio {
	margin: 0
}

#recruit.record-record table tr td a {
	display: inline-block;
	text-decoration: none;
	margin: 0 5px;
	width: 178px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
	font-size: 14px;
	float: left
}

#recruit.record-record table tr td a.btn-download, #recruit.record-record table tr td a.btn-edit
	{
	background-color: #0096dc;
	color: #fff
}

#recruit.record-record table tr td a.btn-view {
	color: #0096dc;
	border: 1px solid #0096dc
}

#recruit.record-record .page-list {
	font-size: 12px;
	margin: 28px 0;
	text-align: center
}

#recruit.record-record .page-list a {
	background-color: #bcc3c3;
	display: inline-block;
	height: 15px;
	line-height: 15px;
	padding: 0 4px;
	color: #fff;
	border-radius: 2px;
	margin: 0 5px;
	text-decoration: none
}

#recruit.record-record .page-list a.active, #recruit.record-record .page-list a:hover
	{
	background-color: #0096dc
}

#recruit.recruit_apply {
	padding-bottom: 40px
}

#recruit.recruit_apply div.setp {
	margin-top: 45px;
	background: url(../images/recruit/step-bg.png) center 10px no-repeat
}

#recruit.recruit_apply div.setp li {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../images/recruit/step-icon.png);
	position: relative;
	margin: 0 74px
}

#recruit.recruit_apply div.setp li.active {
	background-position: 0 -24px;
	color: #0096dc
}

#recruit.recruit_apply div.setp li p {
	position: absolute;
	top: -30px;
	left: -74px;
	width: 172px;
	text-align: center;
	font-size: 16px;
	font-weight: 700
}

#recruit.recruit_apply .setp-1 h2 {
	font-size: 24px;
	font-weight: 700;
	margin: 22px 0;
	text-align: center
}

#recruit.recruit_apply .setp-1 h3 {
	text-align: left;
	font-size: 12px;
	font-weight: 700;
	margin: 0 5%;
	margin-bottom: 16px
}

#recruit.recruit_apply .setp-1 .text-list {
	margin: 0 5%;
	font-size: 12px;
	text-align: left;
	margin-bottom: 36px
}

#recruit.recruit_apply .setp-1 .text-list li {
	background: url(../images/recruit/list-bg.png) left 6px no-repeat;
	padding-left: 20px;
	line-height: 26px
}

#recruit.recruit_apply .setp-1 a.btn-agree {
	width: 178px;
	height: 30px;
	line-height: 30px;
	background-color: #0096dc;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	font-size: 14px;
	display: inline-block;
	margin: 0 8px
}

#recruit.recruit_apply .setp-1 a.btn-disagree {
	width: 178px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #0096dc;
	color: #0096dc;
	text-align: center;
	border-radius: 4px;
	font-size: 14px;
	display: inline-block;
	margin: 0 8px
}

#recruit.recruit_apply .setp-2 {
	display: none;
	font-size: 12px;
	margin-top: 10px
}

#recruit.recruit_apply .setp-2 .warning .chosen-single, #recruit.recruit_apply .setp-2 .warning input,
	#recruit.recruit_apply .setp-2 .warning select {
	border: 1px solid #c92e2c
}

#recruit.recruit_apply .setp-2 .input-selected input {
	color: #d0d6d3
}

#recruit.recruit_apply .setp-2 div.line, #recruit.recruit_apply .setp-2 div.line1
	{
	width: 80%;
	margin: 0 auto;
	position: relative;
	padding-left: 126px;
	margin-bottom: 22px;
	padding-right: 60px
}

#recruit.recruit_apply .setp-2 div.line p, #recruit.recruit_apply .setp-2 div.line1 p
	{
	position: absolute;
	left: 0;
	line-height: 32px
}

#recruit.recruit_apply .setp-2 div.line p span, #recruit.recruit_apply .setp-2 div.line1 p span
	{
	color: #f74431;
	display: inline-block;
	text-align: left;
	width: 6px
}

#recruit.recruit_apply .setp-2 div.line p.two, #recruit.recruit_apply .setp-2 div.line1 p.two
	{
	line-height: 16px
}

#recruit.recruit_apply .setp-2 div.line p.warning, #recruit.recruit_apply .setp-2 div.line1 p.warning
	{
	color: #c92e2c;
	left: auto;
	line-height: 18px;
	width: auto
}

#recruit.recruit_apply .setp-2 div.line.line1, #recruit.recruit_apply .setp-2 div.line1.line1
	{
	padding-right: 0
}

#recruit.recruit_apply .setp-2 div.line .box50, #recruit.recruit_apply .setp-2 div.line1 .box50
	{
	width: 50%;
	position: relative;
	float: left;
	padding-left: 70px;
	margin-left: -70px;
	margin-right: 10px
}

#recruit.recruit_apply .setp-2 div.line .box50 p, #recruit.recruit_apply .setp-2 div.line1 .box50 p
	{
	width: 60px;
	text-align: center
}

#recruit.recruit_apply .setp-2 div.line .box50.box50-2, #recruit.recruit_apply .setp-2 div.line1 .box50.box50-2
	{
	margin-right: 0;
	margin-left: 0
}

#recruit.recruit_apply .setp-2 div.line .box50 p.warning, #recruit.recruit_apply .setp-2 div.line1 .box50 p.warning
	{
	width: auto
}

#recruit.recruit_apply .setp-2 div.line .chosen-container, #recruit.recruit_apply .setp-2 div.line1 .chosen-container
	{
	text-align: left;
	font-size: 12px
}

#recruit.recruit_apply .setp-2 .box3.line .address {
	position: relative;
	margin-right: 2%;
	width: 20%;
	float: left
}

#recruit.recruit_apply .setp-2 .box3.line p.warning {
	left: 0;
	top: 32px
}

#recruit.recruit_apply .setp-2 .box3.line .box1 {
	position: absolute;
	right: 60px;
	width: 18%
}

#recruit.recruit_apply .setp-2 .box3.line .box1 p {
	left: -45%
}

#recruit.recruit_apply .setp-2 .box3.line .box1 input {
	width: 100%
}

#recruit.recruit_apply .setp-2 .box3.line .box1 p.warning {
	left: 0;
	top: 32px
}

#recruit.recruit_apply .setp-2 a.btn-submit {
	width: 178px;
	height: 30px;
	line-height: 30px;
	background-color: #0096dc;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	font-size: 14px;
	display: inline-block;
	margin: 0 8px
}

#recruit.recruit_apply .setp-2 a.btn-save {
	width: 178px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #0096dc;
	color: #0096dc;
	text-align: center;
	border-radius: 4px;
	font-size: 14px;
	display: inline-block;
	margin: 0 8px
}

#recruit.recruit_apply .setp-3 {
	display: none
}

#recruit.recruit_apply .setp-3 div.content {
	max-width: 550px;
	margin: 0 auto;
	overflow: hidden;
	padding-left: 94px;
	font-size: 12px;
	background: url(../images/recruit/reg-ok.png) 0 0 no-repeat
}

#recruit.recruit_apply .setp-3 h2 {
	color: #0096dc;
	font-size: 24px;
	font-weight: 700;
	margin-top: 34px;
	margin-bottom: 30px
}

#recruit.recruit_apply .setp-3 h3 {
	text-align: left;
	font-weight: 700;
	margin-bottom: 10px
}

#recruit.recruit_apply .setp-3 h3 a, #recruit.recruit_apply .setp-3 h3 span
	{
	color: #0097dc
}

#recruit.recruit_apply .setp-3 p {
	text-align: left;
	margin-bottom: 24px
}

#recruit.recruit_apply .setp-3 p span {
	color: #0097dc
}

#recruit.find_pwd {
	background-color: #f1f2f4;
	overflow: hidden;
	padding-bottom: 54px
}

#recruit.find_pwd .content {
	width: 440px;
	margin: 56px auto;
	background: url(../images/recruit/pwd-bg.png) 0 46px no-repeat;
	padding-left: 142px;
	font-size: 12px
}

#recruit.find_pwd .content h2 {
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 20px;
	float: left;
	margin-left: 36px
}

#recruit.find_pwd .content .line {
	padding-right: 93px;
	position: relative;
	margin-bottom: 24px
}

#recruit.find_pwd .content .line a.btn-getcode {
	width: 87px;
	height: 29px;
	line-height: 29px;
	color: #fff;
	background-color: #0096dc;
	position: absolute;
	top: 1px;
	right: 0;
	border-radius: 4px;
	text-decoration: none
}

#recruit.find_pwd .content .line a.btn-getcode.no-click {
	background-color: #bdc3c6;
	color: #878e96;
	border: 1px solid #878e96
}

#recruit.find_pwd .content .line p.warning {
	color: #c92e2c;
	position: absolute
}

#recruit.find_pwd .content a.btn-next {
	width: 178px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background-color: #0096dc;
	display: inline-block;
	float: left;
	text-decoration: none;
	border-radius: 4px;
	font-size: 14px
}

#recruit.reset_pwd {
	background-color: #f1f2f4;
	overflow: hidden;
	padding-bottom: 54px
}

#recruit.reset_pwd .content {
	width: 440px;
	margin: 56px auto;
	background: url(../images/recruit/resetpwd-bg.png) 0 46px no-repeat;
	padding-left: 100px;
	font-size: 12px
}

#recruit.reset_pwd .content h2 {
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 20px;
	float: left;
	margin-left: 96px
}

#recruit.reset_pwd .content .line {
	padding-left: 60px;
	position: relative;
	margin-bottom: 24px
}

#recruit.reset_pwd .content .line p {
	position: absolute;
	left: 0;
	top: 0;
	line-height: 32px
}

#recruit.reset_pwd .content .line a.btn-getcode {
	width: 87px;
	height: 29px;
	line-height: 29px;
	color: #fff;
	background-color: #0096dc;
	position: absolute;
	top: 1px;
	right: 0;
	border-radius: 4px;
	text-decoration: none
}

#recruit.reset_pwd .content .line a.btn-getcode.no-click {
	background-color: #bdc3c6;
	color: #878e96;
	border: 1px solid #878e96
}

#recruit.reset_pwd .content .line p.warning {
	color: #c92e2c;
	position: absolute;
	top: 32px;
	left: 60px;
	line-height: 20px
}

#recruit.reset_pwd .content a.btn-submit {
	width: 178px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background-color: #0096dc;
	display: inline-block;
	float: left;
	margin-left: 60px;
	text-decoration: none;
	border-radius: 4px;
	font-size: 14px
}

#reg-ok .popup-content {
	background: url(../images/recruit/reg-ok.png) 62px 58px no-repeat #fff
}

#reg-ok .popup-content .content-box {
	margin-left: 174px;
	margin-right: 174px;
	overflow: hidden
}

#reg-ok .popup-content .content-box h3 {
	color: #0096dc;
	font-size: 24px;
	margin-top: 20px
}

#reg-ok .popup-content .content-box a.btn-login {
	display: inline-block;
	width: 178px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	border-radius: 4px;
	font-size: 14px;
	background-color: #0096dc
}

#reg-ok .popup-content .content-box p {
	font-size: 12px;
	margin: 32px 0
}

#save-ok .popup-content {
	background: url(../images/recruit/reg-ok.png) 62px 58px no-repeat #fff
}

#save-ok .popup-content .content-box {
	margin-left: 174px;
	margin-right: 174px;
	overflow: hidden;
	min-width: 380px
}

#save-ok .popup-content .content-box h3 {
	color: #0096dc;
	font-size: 24px;
	margin-top: 20px
}

#save-ok .popup-content .content-box a.btn-back {
	width: 178px;
	height: 30px;
	line-height: 30px;
	background-color: #0096dc;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	font-size: 14px;
	display: inline-block;
	margin: 0 8px
}

#save-ok .popup-content .content-box a.btn-record {
	width: 178px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #0096dc;
	color: #0096dc;
	text-align: center;
	border-radius: 4px;
	font-size: 14px;
	display: inline-block;
	margin: 0 8px
}

#save-ok .popup-content .content-box p {
	font-size: 12px;
	margin: 32px 0
}

#clause-content .popup-content {
	background-color: #2e3438;
	color: #fff;
	text-align: left;
	max-width: 64%;
	min-width: auto
}

#clause-content .popup-content a.popup-close {
	background: url(../images/popup-close2.png);
	width: 35px;
	height: 35px
}

#clause-content .popup-content .content-box {
	margin: 0
}

#clause-content .popup-content h3 {
	border-bottom: 2px solid #6d7175;
	font-size: 24px;
	padding-left: 30px;
	padding-top: 18px;
	padding-bottom: 12px
}

#clause-content .popup-content p {
	font-size: 12px;
	line-height: 20px;
	padding: 40px 30px;
	padding-bottom: 60px
}

#mod-pwd .popup-content {
	font-size: 12px;
	text-align: left;
	background: url(../images/recruit/mod-pwd.png) 60px 96px no-repeat #fff;
	width: 574px;
	height: 370px;
	margin-left: -287px;
	margin-top: -185px
}

#mod-pwd .popup-content h3 {
	font-size: 24px;
	font-weight: 700;
	text-align: center
}

#mod-pwd .popup-content .content-box {
	margin: 54px 154px;
	margin-right: 90px
}

#mod-pwd .popup-content .line {
	margin-top: 30px;
	padding-left: 50px;
	position: relative
}

#mod-pwd .popup-content .line p {
	position: absolute;
	left: 0;
	line-height: 32px
}

#mod-pwd .popup-content .line input {
	width: 279px
}

#mod-pwd .popup-content .line p.warning {
	line-height: 20px;
	left: 50px;
	color: #c92e2c
}

#mod-pwd .popup-content a.mod-pwd-submit {
	display: inline-block;
	width: 178px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background-color: #0096dc;
	border-radius: 4px;
	font-size: 14px;
	text-align: center
}