body, html {
	width: 100%;
	height: 100%
}

#container .mainbody .popup {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/popup-bg.png);
	display: none
}

#container .mainbody .popup a.popup-close {
	background: url(../images/dealer-popup-close.png);
	width: 35px;
	height: 35px;
	position: absolute;
	right: 16px;
	top: 16px
}

#container .mainbody #popup-clause .popup-clause-content {
	width: 64%;
	position: absolute;
	top: 30%;
	left: 50%;
	margin-left: -32%;
	background-color: #2e3438;
	color: #fff
}

#container .mainbody #popup-clause .popup-clause-content a.popup-close {
	background-image: url(../images/popup-close2.png)
}

#container .mainbody #popup-clause .popup-clause-content h2 {
	border-bottom: 2px solid #6d7174;
	height: 78px;
	line-height: 78px;
	padding-left: 32px;
	font-size: 30px
}

#container .mainbody #popup-clause .popup-clause-content p {
	padding: 52px 38px;
	font-size: 16px;
	line-height: 28px
}

#container .mainbody .top_link {
	min-width: 904px
}

#container .mainbody .top_link .navbar-right {
	float: right !important;
	margin: 0;
	margin-right: 3%
}

#container .mainbody .top_link .navbar-right li {
	float: left
}

#container .mainbody .dealer-right {
	width: 428px;
	height: 100%;
	background-color: #fff;
	position: absolute;
	right: 0;
	top: 0;
	padding-top: 91px
}

#container .mainbody .dealer-right .testdrive-title {
	font-size: 24px;
	color: #fff;
	text-align: center;
	height: 86px;
	line-height: 86px;
	width: 100%;
	background-color: #1597d9;
	position: absolute;
	z-index: 1
}

#container .mainbody .dealer-right .testdrive-form {
	width: 100%;
	height: 100%;
	z-index: 10;
	color: #414742;
	overflow: auto;
	padding-left: 30px;
	padding-top: 112px
}

#container .mainbody .dealer-right .testdrive-form #popup-ok .popup-content
	{
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -70px;
	width: 100%;
	height: 230px;
	background: #fff;
	color: #414742;
	text-align: center;
	padding-top: 42px
}

#container .mainbody .dealer-right .testdrive-form #popup-ok .popup-content h2
	{
	font-size: 30px
}

#container .mainbody .dealer-right .testdrive-form #popup-ok .popup-content p
	{
	font-size: 14px;
	line-height: 26px
}

#container .mainbody .dealer-right .testdrive-form #popup-ok .popup-content a.ok
	{
	width: 148px;
	height: 42px;
	line-height: 42px;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	text-align: center;
	border-radius: 4px;
	background-color: #019ada;
	margin-top: 20px
}

#container .mainbody .dealer-right .testdrive-form #popup-busy .popup-content
	{
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -70px;
	width: 100%;
	height: 230px;
	background: #fff;
	color: #414742;
	text-align: center;
	padding-top: 42px
}

#container .mainbody .dealer-right .testdrive-form #popup-busy .popup-content h2
	{
	font-size: 30px;
	margin-top: 60px
}

#container .mainbody .dealer-right .testdrive-form p {
	font-size: 16px
}

#container .mainbody .dealer-right .testdrive-form p span {
	color: #f54336
}

#container .mainbody .dealer-right .testdrive-form select {
	width: 366px
}

#container .mainbody .dealer-right .testdrive-form .chosen-container {
	margin-bottom: 3px
}

#container .mainbody .dealer-right .testdrive-form .chosen-container-single .chosen-single
	{
	box-shadow: none;
	padding: 0 12px 0 12px
}

#container .mainbody .dealer-right .testdrive-form .chosen-container-single .chosen-drop
	{
	margin-top: -4px
}

#container .mainbody .dealer-right .testdrive-form .chosen-container-single .chosen-single div
	{
	width: 20px;
	right: 16px
}

#container .mainbody .dealer-right .testdrive-form .chosen-container-single .chosen-single div b
	{
	background: url(../images/select-bg.png) top left no-repeat
}

#container .mainbody .dealer-right .testdrive-form .chosen-container-active.chosen-with-drop .chosen-single div b
	{
	background-position: 0 -44px
}

#container .mainbody .dealer-right .testdrive-form .chosen-single {
	height: 44px;
	background: #fff;
	border: 1px solid #dee1e3;
	border-radius: 4px;
	line-height: 44px;
	font-size: 16px
}

#container .mainbody .dealer-right .testdrive-form .line.must.warning .chosen-single,
	#container .mainbody .dealer-right .testdrive-form .line.must.warning input
	{
	border: 1px solid #c82e2d
}

#container .mainbody .dealer-right .testdrive-form .chosen-container .chosen-drop
	{
	border: 1px solid #dee1e3;
	box-shadow: none
}

#container .mainbody .dealer-right .testdrive-form .chosen-container .chosen-results
	{
	padding: 0;
	margin: 0
}

#container .mainbody .dealer-right .testdrive-form .chosen-container .chosen-results li
	{
	height: 44px;
	line-height: 44px;
	font-size: 16px;
	padding: 0 12px;
	color: #000
}

#container .mainbody .dealer-right .testdrive-form .chosen-container .chosen-results li:nth-of-type(odd)
	{
	background: #f3f5f6
}

#container .mainbody .dealer-right .testdrive-form .chosen-container .chosen-results li.highlighted
	{
	background: #1597d9
}

#container .mainbody .dealer-right .testdrive-form input {
	width: 366px;
	height: 44px;
	background: #fff;
	border: 1px solid #dee1e3;
	border-radius: 4px;
	line-height: 44px;
	font-size: 16px;
	padding: 0 12px
}

#container .mainbody .dealer-right .testdrive-form .line {
	margin-bottom: 22px;
	position: relative
}

#container .mainbody .dealer-right .testdrive-form .line.warning p.warning
	{
	display: block
}

#container .mainbody .dealer-right .testdrive-form .line p.warning {
	position: absolute;
	bottom: -30px;
	font-size: 12px;
	color: #c82e2d;
	display: none
}

#container .mainbody .dealer-right .testdrive-form .line p {
	margin-bottom: 10px
}

#container .mainbody .dealer-right .testdrive-form .line.sex p {
	float: left;
	height: 30px;
	line-height: 30px
}

#container .mainbody .dealer-right .testdrive-form .line.sex span.sex {
	display: inline-block;
	width: 60px;
	height: 32px;
	line-height: 32px;
	padding-left: 42px;
	margin-left: 24px;
	background: url(../images/testdrive-check.png) no-repeat;
	cursor: pointer
}

#container .mainbody .dealer-right .testdrive-form .line.sex span.sex.selected
	{
	background-position: 0 -32px
}

#container .mainbody .dealer-right .testdrive-form .line.clause {
	line-height: 32px
}

#container .mainbody .dealer-right .testdrive-form .line.clause a {
	color: #0099da;
	font-size: 14px;
	text-decoration: underline;
	line-height: 32px;
	display: inline-block
}

#container .mainbody .dealer-right .testdrive-form .line span.radio {
	width: 32px;
	height: 32px;
	background: url(../images/radio.png);
	background-position: 0 -32px;
	cursor: pointer;
	float: left;
	margin: 0;
	margin-right: 14px
}

#container .mainbody .dealer-right .testdrive-form .line span.radio.selected
	{
	background-position: 0 0
}

#container .mainbody .dealer-right .testdrive-form .line a#submit {
	font-size: 18px;
	color: #fff;
	background-color: #0099da;
	width: 148px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	display: inline-block;
	border-radius: 4px;
	margin-left: 109px
}

#container .mainbody .dealer-map {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-right: 428px;
	padding-top: 91px
}

#container .mainbody .dealer-map #dealer-map {
	width: 100%;
	height: 100%
}

#container .mainbody .dealer-map #dealer-map .anchorBL {
	display: none
}

#container .mainbody .dealer-map .dealer-popup {
	position: absolute;
	top: 100px;
	left: 200px;
	width: 575px;
	height: 324px;
	background: url(../images/dealer-popup-bg.png)
}

#container .mainbody .dealer-map .dealer-popup a.dealer-popup-close {
	position: absolute;
	top: 24px;
	right: 26px;
	width: 35px;
	height: 35px
}