<!-- 手机顶部logo及导航三线按钮 -->
<div id="mobile_nav">
	<div class="logobox">
		<img src="angularweb/assets/images/Logo_new.png">
	</div>
	<div class="burger_menu">
		<div class="burger_line"></div>
		<div class="burger_line"></div>
		<div class="burger_line"></div>
	</div>
</div>
<!-- 主导航 更多内容 移动端主导航内容 -->
<div id="main_nav_more" data-count="1">
	<div class="mobile_nav_shadow"></div>
	<div class="desktop-searchbox">
		<div class="fancy-input">
			<span class="vwicon icon-searchglass"></span>
			<div class="input-wrapper-search">
				<input type="text" value="search" name="searchtxt"
					class="searchformtext" />
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<ul>
		<li><a href="http://vw.faw-vw.com/">
				<div class="nav_size vwicon icon-car"></div> <span>{{translation.general.OverviewOfModels}}</span>
		</a></li>
		<li><a href="http://ibuy.faw-vw.com/Official/">
				<div class="nav_size vwicon icon-findadealer"></div> <span>{{translation.general.PeopleLookForTheCar}}</span>
		</a></li>
		<li><a href="http://ibuy.faw-vw.com/Official/">
				<div class="nav_size vwicon icon-importer"></div> <span>{{translation.general.VolkswagenBrand}}</span>
		</a></li>
		<li><a href="http://vw.faw-vw.com/newmagotanmycar">
				<div class="nav_size vwicon icon-dealer"></div> <span>{{translation.general.CentreOwners}}</span>
		</a></li>
		<li><a href="#">
				<div class="nav_size vwicon icon-more"></div> <span>{{translation.general.More}}</span>
		</a></li>
	</ul>
	<!--<div style="width: 100%; background-color: #B6BDD2; height: 50px;"></div>-->
</div>
<!--************ 主导航包含 end  ************--->

<!-- 主体内容 -->
<div class="container-fluid mainbody"
	ng-controller="testDriveMobileController" ng-init="dealerInfo()">

	<!-- 自定义内容开始 -->
	<div class="testdrive-mobile-form">
		<h2>
			<a href="#" class="btn-back"></a>{{translation.general.ArrangeATestDrive}}
		</h2>
		<div class="note">
			<p>{{translation.testDrive.TestDriveBooking}}</p>
			<p>
				{{translation.testDrive.TestTip}}<a href="#">{{translation.testDrive.ClickLogin}}</a>,<br />
				{{translation.testDrive.InfoForm}}
			</p>
		</div>
		<div class="line must">
			<p>
				<span>*</span>{{translation.testDrive.SelectModels}}
			</p>
			<p class="warning">{{translation.testDrive.SelectModel}}</p>
			<div class="car-model">					
						<select chosen
					        inherit-select-classes="true"
					        data-placeholder={{translation.testDrive.Models}}				        
					        disable-search="true"
					        allow-single-deselect="true"
					        ng-model="testdrive.series_code"
					        ng-options="x.code as x.name for x in carSeries"
							id="car-model"
							on-change="">	
							<option value='' disabled selected  style="display: none;">{{translation.testDrive.Models}}</option>				          
					    </select>					   
				</div>				
			<!-- <select name="" id="car-model" data-placeholder={{translation.testDrive.Models}} ng-model="testdrive.series_code">			
			<option ng-repeat="x in carSeries" value="{{x.code}}">{{x.name}}</option>				
			</select>	 -->			
		</div>
		<div class="line must">
			<p><span>*</span>{{translation.testDrive.SelectDealer}}</p>
			<p class="warning">{{translation.testDrive.PleaseSelectDealer}}</p>
			<!-- <select name="" id="province"
						data-placeholder={{translation.general.Province}} ng-model="testdrive.dealer_province_code">
						<option value=""></option>
							<option ng-repeat="x in provinces.name" value="{{x.code}}">{{x.name}}</option>
						<option value="PR1">PR1</option>
						<option value="PR2">PR2</option>
					</select> <select name="" id="city" placeholder={{translation.general.City}}>
						<option value=""></option>
					</select> <select name="" id="dealer"
						placeholder={{translation.general.Dealer}}>
						<option value=""></option>
					</select> -->
					<div class="province">					
				<!-- 	<select name="" id="province" data-placeholder="省份">
						<option value=""></option>
					</select> -->					
					<!-- <select id="search_province" data-placeholder = "province"> 
					<option value="1" selected="selected">Select the Province</option>
						<option ng-repeat="x in provinces" value="{{x}}">{{x}}</option>
						</select> -->
						
						 <select chosen
					        inherit-select-classes="true"
					        data-placeholder={{translation.general.Province}}
					        disable-search="true"
					        allow-single-deselect="true"
					        ng-model="testdrive.province_code"
					        ng-options="p.province_code as p.province_name for p in provinces"							
					        id="province"
					        on-change="changeCityList">		
					        <option value='' disabled selected  style="display: none;">{{translation.general.Province}}</option>					        			          
					      </select>
				</div>
				<div class="city">					
						<!-- <select name="" id="search_city" placeholder={{translation.general.City}}>-->
						<!-- <option value=""></option> -->
					<!-- 	<option ng-repeat="x in cities" value="{{x}}">{{x}}</option> -->
						<!-- </select> -->
						
					      <select chosen
					        inherit-select-classes="true"
					        data-placeholder={{translation.general.City}}
					        disable-search="true"
					        allow-single-deselect="true"
					        ng-model="testdrive.city_code"
					        ng-options="c.city_code as c.city_name for c in cities"
							id="city"
							on-change="searchDealer" >		
						   <option value='' disabled selected  style="display: none;">{{translation.general.City}}</option>										          
					      </select>
				</div>	
				<div class="dealer">					
						<select chosen
					        inherit-select-classes="true"
					        data-placeholder={{translation.general.Dealer}}					        
					        disable-search="true"
					        allow-single-deselect="true"
					        ng-model="testdrive.dealer_id"
					        ng-options="d.id as d.full_name for d in dealers"
							id="dealer"
							on-change="searchDealer">	
							<option value='' disabled selected  style="display: none;">{{translation.general.Dealer}}</option>				          
					    </select>					   
				</div>		
		</div>
		<div class="line-map">
			<a href="javascript:;" id="btn-map"><img src="angularweb/assets/images/testdrive_mobile_map.jpg" alt=""></a>
 		</div>
			<!-- <div id="dealer-map">
				<baidu-map options="mapOptions"
					ak="4U6z88V8GZTUyvT6QnMUczUzQetGe5bs" offline="offlineOpts"
					style="width: 100%; height: 100vh;display: block;"
					on-map-loaded="mapLoaded(map)" />
			</div> -->
		
		<div class="line must">
			<p>
				<span>*</span>{{translation.testDrive.FullName}}
			</p>
			<input type="text" id="name"
				placeholder={{translation.testDrive.FullName}}
				ng-model="testdrive.name">
			<p class="warning">{{translation.testDrive.PleaseFillName}}</p>
		</div>
		<div class="line sex">
			<p>
				<span>*</span>{{translation.testDrive.Gender}}
			</p>
			<span class="sex selected" id="male" ng-model="testdrive.gender"
				val="男">{{translation.testDrive.Male}}</span> <span class="sex"
				id="female" ng-model="testdrive.gender" val="女">{{translation.testDrive.Female}}</span>
		</div>
		<div class="line must">
			<p>
				<span>*</span>{{translation.testDrive.CellphoneNumber}}
			</p>
			<input type="tel" maxlength="11" id="phone"
				placeholder={{translation.testDrive.CellphoneNumber}}
				ng-model="testdrive.mobile_no">
			<p class="warning">{{translation.testDrive.PleaseEnterPhoneNumber}}</p>
		</div>
		<div class="line">
			<p>{{translation.testDrive.ExpectedTimeOfPurchase}}</p>
			<select chosen
					        inherit-select-classes="true"	
					        data-placeholder={{translation.testDrive.ExpectedTimeOfPurchase}}				        
					        disable-search="true"
					        allow-single-deselect="true"
					        ng-model="testdrive.plan_buy_time"					       
							id="timeofpurchase"
							on-change="">					
						<!-- 	<option value="一周内">{{translation.testDrive.WithinAWeek}}</option>
						<option value="一个月内">{{translation.testDrive.WithinAMonth}}</option>
						<option value="三个月内">{{translation.testDrive.WithinThreeMonths}}</option>
						<option value="半年以上">{{translation.testDrive.MoreThanSixMonths}}</option> -->
						<!-- <option value="一周内">一周内</option>
						<option value="一个月内">一个月内</option>
						<option value="三个月内">三个月内</option>
						<option value="半年以上">半年以上</option> -->
						<option value='' disabled selected  style="display: none;">{{translation.testDrive.ExpectedTimeOfPurchase}}</option>
						<option value={{translation.testDrive.WithinAWeek}}>{{translation.testDrive.WithinAWeek}}</option>
						<option value={{translation.testDrive.WithinAMonth}}>{{translation.testDrive.WithinAMonth}}</option>
						<option value={{translation.testDrive.WithinThreeMonths}}>{{translation.testDrive.WithinThreeMonths}}</option>
						<option value={{translation.testDrive.MoreThanSixMonths}}>{{translation.testDrive.MoreThanSixMonths}}</option>
					</select>
		
		</div>
		<div class="line clause">
			<span ng-class="class" ng-click="pageAcceptForm()"></span><a href="#">{{translation.testDrive.AgreePrivacyPolicy}}</a>
		</div>
		<div class="line">
		<a ng-click="submitTestDrive(testdrive)" href="" id="submit">{{translation.testDrive.Submit}}</a>
			<!-- <button id="submit">{{translation.testDrive.Submit}}</button> -->
		</div>
		<div class="popup" id="popup-ok">
			<div class="content">
				<a class="popup-close"></a>
				<h3>{{translation.testDrive.AppointmentSuccessTitle}}</h3>
				<p>
					{{translation.testDrive.AppointmentSuccessMsg}},<br />{{translation.testDrive.ContactSoon}}!
				</p>
				<a href="javascript:;" class="btn">{{translation.testDrive.CarryOut}}</a>
			</div>
		</div>
		<script>
	var popup = document.getElementById('popup-ok');
	var a = document.getElementsByClassName("popup-close")[0];
	a.onclick = function() {		
		popup.style.display = "none";
	}
	</script>
		<div class="popup" id="popup-busy">
			<div class="content">
				<a href="javascript:;" class="popup-close"></a>
				<h3>{{translation.testDrive.TryLater}}</h3>
			</div>
		</div>
	</div>
	<div class="popup" id="popup-clause">
		<h2>{{translation.testDrive.PrivacyPolicy}}</h2>
		<a href="javascript:;" class="popup-close"></a>
		<p>{{translation.testDrive.PrivacyPolicyOne}}
			{{translation.testDrive.PrivacyPolicyTwo}}</p>
	</div>
	<div class="popup" id="popup-map">
		<div class="popup-map-top">
			<h2>{{translation.general.ArrangeATestDrive}}</h2>
			<a href="javascript:;">{{translation.general.Return}}</a>
		</div>
		<div id="dealer-map">
            <baidu-map options="mapOptions" ak="4U6z88V8GZTUyvT6QnMUczUzQetGe5bs"
				offline="offlineOpts"
				style="width: 100vw; height: 90vh;display: block;"
				on-map-loaded="mapLoaded(map)" />
            </div>
	</div>
	<!-- 自定义内容结束 -->

</div>