
@font-face {
  font-family: 'ProstoOne-Regular';
  src: url('ProstoOne-Regular.eot?#iefix') format('embedded-opentype'),  url('ProstoOne-Regular.woff') format('woff'), url('ProstoOne-Regular.ttf')  format('truetype'), url('ProstoOne-Regular.svg#ProstoOne-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
