/*
  Icon Font: font
*/

@font-face {
  font-family: "font";
  src: url("./font.eot");
  src: url("./font.eot?#iefix") format("embedded-opentype"),
       url("./font.woff") format("woff"),
       url("./font.ttf") format("truetype"),
       url("./font.svg#font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "font";
    src: url("./font.svg#font") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-360-arrow:before,
.icon-add:before,
.icon-back-top:before,
.icon-buildandfind:before,
.icon-calendar:before,
.icon-car:before,
.icon-case:before,
.icon-checkbox:before,
.icon-checkmark:before,
.icon-close:before,
.icon-company-cars:before,
.icon-compare:before,
.icon-configure:before,
.icon-crosshair:before,
.icon-download:before,
.icon-dropdown_arrow:before,
.icon-editorial-configurator:before,
.icon-extra_equipment:before,
.icon-findadealer:before,
.icon-gallery:before,
.icon-letter:before,
.icon-link_pfeil:before,
.icon-listview:before,
.icon-live:before,
.icon-medic:before,
.icon-navi-burger:before,
.icon-navi-more:before,
.icon-not_available:before,
.icon-offersandfinance:before,
.icon-owners:before,
.icon-play:before,
.icon-play_mobile:before,
.icon-price-tag:before,
.icon-question-mark:before,
.icon-search:before,
.icon-searchglass:before,
.icon-social-facebook:before,
.icon-social-google:before,
.icon-social-twitter:before,
.icon-special-offers:before,
.icon-special-offers-percent:before,
.icon-special-purpose:before,
.icon-standard_equipment:before,
.icon-talk-bubble:before,
.icon-technology:before,
.icon-testdrive:before,
.icon-tileview:before,
.icon-tool:before,
.icon-tools:before {
  display: inline-block;
  font-family: "font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-360-arrow:before { content: "\f218"; }
.icon-add:before { content: "\f219"; }
.icon-back-top:before { content: "\f21a"; }
.icon-buildandfind:before { content: "\f21b"; }
.icon-calendar:before { content: "\f21c"; }
.icon-car:before { content: "\f21d"; }
.icon-case:before { content: "\f21e"; }
.icon-checkbox:before { content: "\f21f"; }
.icon-checkmark:before { content: "\f220"; }
.icon-close:before { content: "\f221"; }
.icon-company-cars:before { content: "\f222"; }
.icon-compare:before { content: "\f223"; }
.icon-configure:before { content: "\f224"; }
.icon-crosshair:before { content: "\f225"; }
.icon-download:before { content: "\f226"; }
.icon-dropdown_arrow:before { content: "\f227"; }
.icon-editorial-configurator:before { content: "\f228"; }
.icon-extra_equipment:before { content: "\f229"; }
.icon-findadealer:before { content: "\f22a"; }
.icon-gallery:before { content: "\f22b"; }
.icon-letter:before { content: "\f22c"; }
.icon-link_pfeil:before { content: "\f22d"; }
.icon-listview:before { content: "\f22e"; }
.icon-live:before { content: "\f22f"; }
.icon-medic:before { content: "\f230"; }
.icon-navi-burger:before { content: "\f231"; }
.icon-navi-more:before { content: "\f232"; }
.icon-not_available:before { content: "\f233"; }
.icon-offersandfinance:before { content: "\f234"; }
.icon-owners:before { content: "\f235"; }
.icon-play:before { content: "\f236"; }
.icon-play_mobile:before { content: "\f237"; }
.icon-price-tag:before { content: "\f238"; }
.icon-question-mark:before { content: "\f239"; }
.icon-search:before { content: "\f23a"; }
.icon-searchglass:before { content: "\f23b"; }
.icon-social-facebook:before { content: "\f23c"; }
.icon-social-google:before { content: "\f23d"; }
.icon-social-twitter:before { content: "\f23e"; }
.icon-special-offers:before { content: "\f23f"; }
.icon-special-offers-percent:before { content: "\f240"; }
.icon-special-purpose:before { content: "\f241"; }
.icon-standard_equipment:before { content: "\f242"; }
.icon-talk-bubble:before { content: "\f243"; }
.icon-technology:before { content: "\f244"; }
.icon-testdrive:before { content: "\f245"; }
.icon-tileview:before { content: "\f246"; }
.icon-tool:before { content: "\f247"; }
.icon-tools:before { content: "\f248"; }
