<!-- <!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="style/bootstrap.css" rel="stylesheet">
    [if lt IE 9]>
        <script src="js/css3-mediaqueries.js"></script>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]
    <link href="style/common_pc.css" rel="stylesheet">
    <link href="style/recruit.css" rel="stylesheet">
    <title>经销商招募</title>

</head>
<body>

<div id="container"> -->
<!--************ 主导航包含 start  ************--->
<div class="ng-cloak">
    <!-- 主导航 -->
    <div id="main_nav">
        <ul>
            <li class="logobox"><a href="http://vw.faw-vw.com/"><img src="angularweb/assets/images/Logo_new.png" width="60" height="79"></a></li>
            <li>
                <a href="http://vw.faw-vw.com/">
                    <div class="nav_size lefticon icon-car"></div>
                    <span>{{translation.general.OverviewOfModels}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size lefticon icon-findadealer"></div>
                    <span>{{translation.general.PeopleLookForTheCar}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size lefticon icon-importer"></div>
                    <span>{{translation.general.VolkswagenBrand}}</span>
                </a>
            </li>
            <li>
                <a href="http://vw.faw-vw.com/newmagotanmycar">
                    <div class="nav_size lefticon icon-dealer" ></div>
                    <span>{{translation.general.CentreOwners}}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="nav_size lefticon icon-more"></div>
                    <span>{{translation.general.More}}</span>
                </a>
            </li>

        </ul>
    </div>
    <!-- 手机顶部logo及导航三线按钮 -->
    <div id="mobile_nav">
        <div class="logobox"><img src="images/Logo_new.png"></div>
        <div class="burger_menu">
            <div class="burger_line"></div>
            <div class="burger_line"></div>
            <div class="burger_line"></div>
        </div>
    </div>
    <!-- 主导航 更多内容 移动端主导航内容 -->
    <div id="main_nav_more" data-count="1">
        <div class="mobile_nav_shadow"></div>
        <div class="desktop-searchbox">
            <div class="fancy-input">
                <span class="vwicon icon-searchglass"></span>
                <div class="input-wrapper-search">
                    <input type="text" value="search" name="searchtxt" class="searchformtext" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <ul>
            <li>
                <a href="http://vw.faw-vw.com/">
                    <div class="nav_size vwicon icon-car"></div>
                    <span>{{translation.general.OverviewOfModels}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size vwicon icon-findadealer"></div>
                    <span>{{translation.general.PeopleLookForTheCar}}</span>
                </a>
            </li>
            <li>
                <a href="http://ibuy.faw-vw.com/Official/">
                    <div class="nav_size vwicon icon-importer"></div>
                    <span>{{translation.general.VolkswagenBrand}}</span>
                </a>
            </li>
            <li>
                <a href="http://vw.faw-vw.com/newmagotanmycar">
                    <div class="nav_size vwicon icon-dealer" ></div>
                    <span>{{translation.general.CentreOwners}}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="nav_size vwicon icon-more"></div>
                    <span>{{translation.general.More}}</span>
                </a>
            </li>
        </ul>
        <!--<div style="width: 100%; background-color: #B6BDD2; height: 50px;"></div>-->
    </div>
<!--************ 主导航包含 end  ************--->

    <!-- 主体内容 -->
    <div class="container-fluid mainbody">
        <div class="mask"></div>
        <div class="top_link">
            <div class="container-fluid toolsbox">
                <ul class="nav navbar-nav navbar-left">
                    <li class="car_name">{{translation.dealerRecruitmentRegister.dealerRecruitment}}</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                     <li class="toolslink">
                        <a href="#/testDrive">
                            <div><span class="icon-testdrive"></span></div>
                            <span class="atext">{{translation.general.ArrangeATestDrive}}</span>
                        </a>
                    </li>
                    <li class="toolslink">
                        <a href="#/searchDealer">
                            <div><span class="icon-searchdealer"></span></div>
                            <span class="atext">{{translation.general.DealerLocator}}</span>
                        </a>
                    </li>
                    <li class="toolslink">
                        <a href="http://kf02.faw-vw-dns.com/new/client.php?arg=faw-vw&style=1">
                            <div><span class="icon-support"></span></div>
                            <span class="atext">{{translation.general.OnlineService}}</span>
                        </a>
                    </li>
                </ul>
            </div>
          <!--   <div class="sub_nav" id="navbar-carinfo">
                <ul class="nav nav-pills">
                    <li><a href="#page01">招募首页</a></li>
                    <li><a href="#page02">一级网络招募</a></li>
                    <li><a href="#page07">二级网络招募</a></li>
                    <li class="active"><a href="#page07">我的申请记录</a></li>
                </ul>
                <div class="login-box">
                    <p class="user-name">13800138000，{{}}！</p>
                    <a href="#" class="logout">[注销]</a>
                </div>
            </div> -->
             <div class="sub_nav" id="navbar-carinfo">
                <ul class="nav nav-pills">
                    <li><a ng-href="{{recruitmentHomeUrl}}">{{translation.dealerRecruitment.recruitment_home}}</a></li>
                    <li><a ng-href="{{recruitDetailsPageUrl}}" ng-click="setRecruitmentType('L1')">{{translation.dealerRecruitment.recruitmentNetwork}}</a></li>
                    <li><a ng-href="{{recruitDetailsPageUrl}}" ng-click="setRecruitmentType('L2')">{{translation.dealerRecruitment.secondary_nw_recruitment}}</a></li>
                    <li class="active"><a>{{translation.dealerRecruitment.my_records}}</a></li>
                </ul>
                <div class="login-box">                               
                    <a style="cursor:pointer;" class="logout" ng-click="logoutClicked()">[{{translation.general.logout}}]</a>
                </div>
            </div>
        </div>

        <!-- 自定义内容开始 -->
        <div id="recruit" class="record-record">
            <div class="userinfo">
                <p>{{translation.myRecord.myAccount}}:{{currentUser.account}}
                <a href="javascript:;" class="btn-mod-pwd">[{{translation.myRecord.changePwd}}]</a></p>
                <p>{{translation.myRecord.userInfoMsg}}</p>
            </div>
            <div class="tab">
            	<a ng-repeat="t in tabs" href="javascript:;" 
            			ng-class="getTabClass(t)" ng-click="selectTab($index)">{{translation.myRecord[t.text]}}</a>
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr class="frist">
                    <td>{{translation.recruit_details.no}}</td>
                    <td>{{translation.myRecord.headerTxtCityPointName}}</td>
                    <td>{{translation.myRecord.headerTxtDate}}</td>
                    <td width="80">{{translation.myRecord.headerTxtStatus}}</td>
                    <td width="376">{{translation.myRecord.headerTxtAction}}</td>
                    <td width="280">{{translation.myRecord.headerTxtRemark}}</td>
                </tr>
                <tr ng-class="getTrClass($index)"  dir-paginate="rec in applicationRecord.applicationRecords|itemsPerPage:itemsPerPage" 
                		total-items="applicationRecord.totalRecordCount">
                    <!-- <td>{{rec.id}}</td> -->
                    <td>{{$index+1}}</td>
                    <td>{{getCityPoint(rec)}}</td>
                    <td>{{rec.submittedDateStr}}</td>
                    <td>{{getStatusStr(rec)}}</td>
                    <td><a ng-if="rec.status == 'SUBMITTED'" target="_blank" href="downloadForm" class="btn-download">{{translation.myRecord.downloadApplication}}</a>
                    	<a ng-if="rec.status == 'SUBMITTED'" ng-href="{{recruitApplyPageUrl}}"  ng-click="onEditViewBtnClick(rec)" class="btn-view">{{translation.general.view}}</a>
                    	<a ng-if="rec.status == 'SAVED'" ng-href="{{recruitApplyPageUrl}}"  ng-click="onEditViewBtnClick(rec)" class="btn-edit">{{translation.general.edit}}</a></td>
                    <td>{{getRemarks(rec)}}</td>
                </tr>
            <!-- 
            <td>唯一申报编码：NO2016P2LNSY0503</td>    
            	<tr>
                    <td>2</td>
                    <td>这里是城市点位名称</td>
                    <td>2016.06.16</td>
                    <td>已保存</td>
                    <td><a href="#" class="btn-edit">编辑</a></td>
                    <td>请于当月月底前提交，否则有可能点位失效</td>
                </tr>
                <tr class="bg">
                    <td>3</td>
                    <td>这里是城市点位名称</td>
                    <td>2016.06.16</td>
                    <td>已失效</td>
                    <td></td>
                    <td>您所申请的城市点位已经失效</td>
                </tr> -->
            </table>
            <!-- <div class="page-list">
                <a href="#" class="page-prev"><</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#" class="page-next">></a>
            </div> -->
            <div class="page-list">
	            <dir-pagination-controls
			        max-size="5"
			        direction-links="true"
			        boundary-links="true" 
			        on-page-change="getMyRecords(newPageNumber)">
			    </dir-pagination-controls>
			</div>
        </div>
        
        <!-- 自定义内容结束 -->
        
    </div>
   </div>
<!--     <div class="popup" id="mod-pwd">
        <div class="popup-content">
            <a href="javascript:;" class="popup-close"></a>
            <div class="content-box">
                <h3>修改密码</h3>
                <div class="line input-box">
                    <p>原密码</p>
                    <input type="password" placeholder="请输入原密码" id="pw1">
                    <p class="warning">*原密码错误 请输入正确原密码</p>
                </div>
                <div class="line input-box">
                    <p>新密码</p>
                    <input type="password" placeholder="请输入新密码" id="pw2">
                    <p class="warning">*密码长度为6-16位字符</p>
                </div>
                <div class="line input-box">
                    <p>密码</p>
                    <input type="password" placeholder="请输入密码" id="pw3">
                    <p class="warning">*密码输入不一致 请重新输入</p>
                </div>
                <div class="line">
                    <a href="javascript:;" class="mod-pwd-submit">提交</a>
                </div>
                
            </div>
        </div>
    </div> -->
<!-- </div>

<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/common.js"></script>
<script src="js/recruit_record.js"></script>
</body>
</html> -->