<!--************ 主导航包含 start  ************--->
<!-- 主导航 -->
<div id="main_nav">
	<ul>
		<li class="logobox"><a href="http://vw.faw-vw.com/"><img
				src="angularweb/assets/images/Logo_new.png" width="60" height="79"></a></li>
		<li><a href="http://vw.faw-vw.com/">
				<div class="nav_size lefticon icon-car"></div> <span>{{translation.general.OverviewOfModels}}</span>
		</a></li>
		<li><a href="http://ibuy.faw-vw.com/Official/">
				<div class="nav_size lefticon icon-findadealer"></div> <span>{{translation.general.PeopleLookForTheCar}}</span>
		</a></li>
		<li><a href="http://ibuy.faw-vw.com/Official/">
				<div class="nav_size lefticon icon-importer"></div> <span>{{translation.general.VolkswagenBrand}}</span>
		</a></li>
		<li><a href="http://vw.faw-vw.com/newmagotanmycar">
				<div class="nav_size lefticon icon-dealer"></div> <span>{{translation.general.CentreOwners}}</span>
		</a></li>
		<li><a href="#">
				<div class="nav_size lefticon icon-more"></div> <span>{{translation.general.More}}</span>
		</a></li>

	</ul>
</div>
<!-- 手机顶部logo及导航三线按钮 -->
<div id="mobile_nav">
	<div class="logobox">
		<img src="images/Logo_new.png">
	</div>
	<div class="burger_menu">
		<div class="burger_line"></div>
		<div class="burger_line"></div>
		<div class="burger_line"></div>
	</div>
</div>
<!-- 主导航 更多内容 移动端主导航内容 -->
<div id="main_nav_more" data-count="1">
	<div class="mobile_nav_shadow"></div>
	<div class="desktop-searchbox">
		<div class="fancy-input">
			<span class="vwicon icon-searchglass"></span>
			<div class="input-wrapper-search">
				<input type="text" value="search" name="searchtxt"
					class="searchformtext" />
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<ul>
		<li><a href="http://vw.faw-vw.com/">
				<div class="nav_size vwicon icon-car"></div> <span>{{translation.general.OverviewOfModels}}</span>
		</a></li>
		<li><a href="http://ibuy.faw-vw.com/Official/">
				<div class="nav_size vwicon icon-findadealer"></div> <span>{{translation.general.PeopleLookForTheCar}}</span>
		</a></li>
		<li><a href="http://ibuy.faw-vw.com/Official/">
				<div class="nav_size vwicon icon-importer"></div> <span>{{translation.general.VolkswagenBrand}}</span>
		</a></li>
		<li><a href="http://vw.faw-vw.com/newmagotanmycar">
				<div class="nav_size vwicon icon-dealer"></div> <span>{{translation.general.CentreOwners}}</span>
		</a></li>
		<li><a href="#">
				<div class="nav_size vwicon icon-more"></div> <span>{{translation.general.More}}</span>
		</a></li>
	</ul>
	<!--<div style="width: 100%; background-color: #B6BDD2; height: 50px;"></div>-->
</div>
<!--************ 主导航包含 end  ************--->

<!-- 主体内容 -->
<div class="container-fluid mainbody">
	<div class="mask"></div>
	<div class="top_link">
		<div class="container-fluid toolsbox">
			<ul class="nav navbar-nav navbar-left">
				<li class="car_name">{{translation.dealerRecruitmentRegister.dealerRecruitment}}</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="toolslink"><a
					href="http://vw.faw-vw.com/newmagotanorder">
						<div>
							<span class="icon-testdrive"></span>
						</div> <span class="atext">{{translation.general.ArrangeATestDrive}}</span>
				</a></li>
				<li class="toolslink"><a
					href="http://vw.faw-vw.com/newmagotanmydealer">
						<div>
							<span class="icon-searchdealer"></span>
						</div> <span class="atext">{{translation.general.DealerLocator}}</span>
				</a></li>
				<li class="toolslink"><a
					href="http://kf02.faw-vw-dns.com/new/client.php?arg=faw-vw&style=1">
						<div>
							<span class="icon-support"></span>
						</div> <span class="atext">{{translation.general.OnlineService}}</span>
				</a></li>
			</ul>
		</div>
		<div class="sub_nav" id="navbar-carinfo">
			<ul class="nav nav-pills">
				<li><a ng-href="{{recruitmentHomeUrl}}">{{translation.dealerRecruitment.recruitment_home}}</a></li>
				<li ng-class="getNavClass('L1')"><a
					ng-href="{{recruitDetailsPageUrl}}"
					ng-click="setRecruitmentType('L1')">{{translation.dealerRecruitment.recruitmentNetwork}}</a></li>
				<li ng-class="getNavClass('L2')"><a
					ng-href="{{recruitDetailsPageUrl}}"
					ng-click="setRecruitmentType('L2')">{{translation.dealerRecruitment.secondary_nw_recruitment}}</a></li>
				<li><a ng-click="myRecordClicked()">{{translation.dealerRecruitment.my_records}}</a></li>
			</ul>
			<div class="login-box">
				<a style="cursor:pointer;" class="logout" ng-click="logoutClicked()">[{{translation.general.logout}}]</a>
			</div>
		</div>
	</div>

	<!-- 自定义内容开始 -->
	<div id="recruit" class="recruit_apply">
		<div class="setp">
			<ul>
				<li ng-class="{'active': tab1}"><p>1.{{translation.dealerRecruitApply.declaration}}</p></li>
				<li ng-class="{'active': tab2}"><p>2.{{translation.dealerRecruitApply.fillOut}}</p></li>
				<li ng-class="{'active': tab3}"><p>3.{{translation.dealerRecruitApply.downloadApplication}}</p></li>
			</ul>

		</div>
		<div class="setp-1" ng-show="tab1">
			<h2>{{translation.dealerRecruitApply.notesDeclaration}}</h2>
			<h3>{{translation.dealerRecruitApply.applicantsNeed}}ï¼š</h3>
			<ul class="text-list">
				<li>{{translation.dealerRecruitApply.applicantsNeed1}}</li>
				<li>{{translation.dealerRecruitApply.applicantsNeed2}}</li>
				<li>{{translation.dealerRecruitApply.applicantsNeed3}}</li>
			</ul>
			<h3>{{translation.dealerRecruitApply.applicantsCommitment}}</h3>
			<h3>{{translation.dealerRecruitApply.applicantsCommitment1}}</h3>
			<ul class="text-list">
				<li>{{translation.dealerRecruitApply.applicantsCommitment2}}</li>
				<li>{{translation.dealerRecruitApply.applicantsCommitment3}}</li>
				<li>{{translation.dealerRecruitApply.applicantsCommitment4}}</li>
				<li>{{translation.dealerRecruitApply.applicantsCommitment5}}</li>
				<li>{{translation.dealerRecruitApply.applicantsCommitment6}}</li>
				<li>{{translation.dealerRecruitApply.applicantsCommitment7}}</li>
			</ul>
			<a href="javascript:;" ng-click="goToTab(2)" class="btn-agree">{{translation.dealerRecruitApply.agree}}</a>
			<a href="#/dealerRecruitmentDetails" class="btn-disagree">{{translation.dealerRecruitApply.disagree}}</a>
		</div>
		<div class="setp-2" ng-show="tab2">
			<div class="line input-box box3 input-selected">
				<p>{{translation.dealerRecruitApply.CurrentSelCities}}</p>

				<div class="address">
					<input type="text" id="" ng-model="recruit.selected_province"
						placeholder={{translation.dealerRecruitApply.HebeiProvince}} ng-disabled="default_field">

				</div>
				<div class="address">
					<input type="text" id="" ng-model="recruit.selected_city"
						placeholder={{translation.dealerRecruitApply.ShijiazhuangCity}} ng-disabled="default_field">
				</div>
				<div class="address">
					<input type="text" id="" ng-model="recruit.selected_district"
						placeholder={{translation.dealerRecruitApply.district}} ng-disabled="default_field">
				</div>
				<div class="box1">
					<p>{{translation.dealerRecruitApply.RecruitmentType}}</p>
					<input type="text" id="" ng-model="recruit.recruitment_type"
						placeholder={{translation.dealerRecruitApply.JobType}} ng-disabled="default_field">
				</div>
				<div class="clear"></div>
			</div>
			<div class="line input-box">
				<p>
					<span>*</span>{{translation.dealerRecruitApply.ApplicantName}}
				</p>
				<input type="text" id="" ng-model="recruit.applicant_name"
					ng-disabled="is_submit">
				<p class="warning">*{{translation.dealerRecruitApply.EnterName}}</p>
			</div>
			<div class="line1">
				<p>
					<span>*</span>{{translation.dealerRecruitApply.Contact1}}
				</p>

				<div class="box50 input-box">
					<p>
						<span>*</span>{{translation.dealerRecruitApply.FullName}}
					</p>
					<input type="text" id="" ng-model="recruit.cnt1_name"
						ng-disabled="is_submit">
					<p class="warning">*{{translation.dealerRecruitApply.EnterTheName}}</p>
				</div>

				<div class="box50 box50-2 input-box">
					<p>
						<span>*</span>{{translation.dealerRecruitApply.Post}}
					</p>
					<input type="text" id="" ng-model="recruit.cnt1_position"
						ng-disabled="is_submit">
					<p class="warning">*{{translation.dealerRecruitApply.PositionEmpty}}</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="line1">
				<div class="box50 input-box">
					<p>
						<span>*</span>{{translation.dealerRecruitApply.phone}}
					</p>
					<input type="text" id="" class="tel" ng-model="recruit.cnt1_phone"
						ng-disabled="is_submit">
					<p class="warning">*{{translation.dealerRecruitApply.TelephoneEmpty}}</p>
				</div>

				<div class="box50 box50-2 input-box">
					<p>
						<span>*</span>{{translation.dealerRecruitApply.mailbox}}
					</p>
					<input type="text" id="" class="mail" ng-model="recruit.cnt1_email"
						ng-disabled="is_submit">
					<p class="warning">*{{translation.dealerRecruitApply.mailboxEmpty}}</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="line1">
				<p>
					<span></span>{{translation.dealerRecruitApply.Contact2}}
				</p>
				<div class="box50 input-box">
					<p>
						<span></span>{{translation.dealerRecruitApply.FullName}}
					</p>
					<input type="text" id="" ng-model="recruit.cnt2_name"
						ng-disabled="is_submit">
				</div>

				<div class="box50 box50-2 input-box">
					<p>
						<span></span>{{translation.dealerRecruitApply.Post}}
					</p>
					<input type="text" id="" ng-model="recruit.cnt2_position"
						ng-disabled="is_submit">
				</div>
				<div class="clear"></div>
			</div>
			<div class="line1">
				<div class="box50 input-box">
					<p>
						<span></span>{{translation.dealerRecruitApply.phone}}
					</p>
					<input type="text" id="" ng-model="recruit.cnt2_phone"
						ng-disabled="is_submit">
				</div>

				<div class="box50 box50-2 input-box">
					<p>
						<span></span>{{translation.dealerRecruitApply.mailbox}}
					</p>
					<input type="text" id="" ng-model="recruit.cnt2_email"
						ng-disabled="is_submit">
				</div>
				<div class="clear"></div>
			</div>
			<div class="line box3">
				<p>
					<span>*</span>{{translation.dealerRecruitApply.City}}
				</p>
				<div class="address select-box">

					<select choosen
						placeholder-text-single={{translation.general.Province}}
						disable-search="true" ng-model="recruit.province_code"
						ng-options="p.province_code as p.province_name for p in provinces"
						id="address select-box" ng-disabled="is_submit"
						on-change="changeCityList">
					</select>
					<p class="warning">*{{translation.dealerRecruitApply.selectProvince}}</p>
				</div>
				<div class="address select-box">
					<select choosen
						placeholder-text-single={{translation.general.City}}
						disable-search="true" ng-model="recruit.city_code"
						ng-options="c.city_code as c.city_name for c in cities"
						id="address select-box" ng-disabled="is_submit"
						on-change="changeDistrictList">
					</select>
					<p class="warning">*{{translation.dealerRecruitApply.selectCity}}</p>
				</div>
				<div class="address select-box">
					<select choosen
						placeholder-text-single="{{translation.general.district}}"
						disable-search="true" ng-model="recruit.district_code"
						ng-options="d.district_code as d.district_name for d in districts"
						id="address select-box" ng-disabled="is_submit">
					</select>
					<p class="warning">*{{translation.dealerRecruitApply.ChooseDistrict}}</p>
				</div>

				<div class="box1 input-box">
					<p>
						<span>*</span>{{translation.dealerRecruitApply.RegisteredCapital}}
					</p>
					<input type="text" id="" ng-model="recruit.registered_capital"
						placeholder={{translation.dealerRecruitApply.TenThousandYuan}} ng-disabled="is_submit"
						onkeypress="keyPress(this)" onkeyup="keyUp(this)"
						onblur="onBlur(this)">
					<p class="warning">*{{translation.dealerRecruitApply.EnterCapital}}</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="line1">
				<p>
					<span>*</span>{{translation.dealerRecruitApply.automotive}}
				</p>
				<div class="box50 input-box">
					<p></p>
					<input type="text" id="" ng-model="recruit.industry_experience"
						ng-disabled="is_submit" onkeypress="keyPress(this)"
						onkeyup="keyUp(this)" onblur="onBlur(this)">
					<p class="warning">*{{translation.dealerRecruitApply.yearEmpty}}</p>
				</div>

				<div class="box50 box50-2 input-box">
					<p>
						<span>*</span>{{translation.dealerRecruitApply.BrandManagement}}
					</p>
					<input type="text" id="" ng-model="recruit.brand_operation"
						ng-disabled="is_submit">
					<p class="warning">*{{translation.dealerRecruitApply.enterBrand}}</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="line1">
				<p class="two">
					<span>*</span>{{translation.dealerRecruitApply.IntentionAddress}}<br />{{translation.dealerRecruitApply.HomeTo}}
				</p>
				<div class="box50 input-box">
					<p>
						<span></span>
					</p>
					<input type="text" id="" ng-model="recruit.main_site_address"
						ng-disabled="is_submit">
					<p class="warning">*{{translation.dealerRecruitApply.intentAddress}}</p>
				</div>

				<div class="box50 box50-2 select-box">
					<p>
						<span>*</span>{{translation.dealerRecruitApply.SourceSite}}
					</p>
					<select choosen inherit-select-classes="true"
						data-placeholder={{translation.dealerRecruitApply.SourceSite}} disable-search="true"
						allow-single-deselect="true" ng-model="recruit.main_site_source"
						ng-options="s.code as s.name for s in source_site"
						id="main_site_source" ng-disabled="is_submit" on-change="">
					</select>
					<!--  <select name="" id=""  ng-model="recruit.main_site_source" ng-disabled="is_submit" placeholder="场地来源">
                            <option value=""></option>
                            <option value="1">1</option>
                        </select> -->
					<p class="warning">*{{translation.dealerRecruitApply.SelectSourceSite}}</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="line1">
				<p class="two">
					<span></span>{{translation.dealerRecruitApply.IntentionAddress}}<br />{{translation.dealerRecruitApply.AlternateSite}}
				</p>
				<div class="box50 input-box">
					<p>
						<span></span>
					</p>
					<input type="text" id="" ng-model="recruit.alternate_site_address"
						ng-disabled="is_submit">
				</div>

				<div class="box50 box50-2 select-box">
					<p>
						<span></span>{{translation.dealerRecruitApply.SourceSite}}
					</p>
					<select choosen inherit-select-classes="true"
						data-placeholder={{translation.dealerRecruitApply.SourceSite}} disable-search="true"
						allow-single-deselect="true"
						ng-model="recruit.alternate_site_source"
						ng-options="s.code as s.name for s in source_site"
						id="address select-box" ng-disabled="is_submit" on-change="">
					</select>
					<!-- <select name="" id="" ng-model="recruit.alternate_site_source" ng-disabled="is_submit" data-placeholder="场地来源"></select> -->
				</div>
				<div class="clear"></div>
			</div>
			<a href="" ng-hide="is_submit"
				ng-click="submitRecruitApply('submit')" class="btn-submit">{{translation.dealerRecruitApply.submit}}</a> <a
				href="" ng-hide="is_submit" ng-click="submitRecruitApply('save')"
				class="btn-save">{{translation.dealerRecruitApply.Save}}</a>
		</div>
		<div class="setp-3">
			<h2>{{translation.dealerRecruitApply.Submitted}}</h2>
			<div class="content">
				<h3>
					{{translation.dealerRecruitApply.encodingDeclaration}}：<span>{{recruit.unique_code}}</span> {{translation.dealerRecruitApply.findEncodingDeclaration}}
				</h3>
				<p>{{translation.dealerRecruitApply.findEncodingDeclaration1}}</p>
				<h3>
					{{translation.dealerRecruitApply.downloadNetworkApplication}}<a target="_blank" href="downloadForm">{{translation.dealerRecruitApply.download}}</a>
				</h3>
				<p>
					{{translation.dealerRecruitApply.ImportantNote}}，<span>{{translation.dealerRecruitApply.ImportantNote1}}</span>
				</p>
			</div>

		</div>
	</div>

	<!-- 自定义内容结束 -->

</div>

<div class="popup" id="save-ok">
	<div class="popup-content">
		<a href="javascript:;" class="popup-close"></a>
		<div class="content-box">
			<h3>{{translation.dealerRecruitApply.Saved}}</h3>
			<p>{{translation.dealerRecruitApply.ViewEdit}}</p>
			<a href="#" class="btn-back">{{translation.dealerRecruitApply.ContinueEditing}}</a> <a href="#" class="btn-record">{{translation.dealerRecruitApply.MyApplicationRecord}}</a>
		</div>
	</div>
</div>
