<!DOCTYPE html>
<html lang="cn" ng-app="vwApp" ng-controller="mainController"
	ng-init="isMobileAgent()">
<head>
<meta charset="utf-8" />
<title>{{pageTitle}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- common css -->
<link href="angularweb/assets/css/bootstrap.css" rel="stylesheet" />
<link href="angularweb/assets/css/chosen.css" rel="stylesheet" />

<!-- mobile css -->
<link ng-if="isMobile" href="angularweb/assets/css/common_mobile.css"
	rel="stylesheet" />
<link ng-if="isMobile" href="angularweb/assets/css/dealer_mobile.css"
	rel="stylesheet" />
<link ng-if="isMobile" href="angularweb/assets/css/testdrive_mobile.css"
	rel="stylesheet" />

<!-- web css -->

<link ng-if="!isMobile" href="angularweb/assets/css/icon-fonts/font.css"
	rel="stylesheet" />
<link ng-if="!isMobile" href="angularweb/assets/css/common_pc.css"
	rel="stylesheet" />
<!-- <link  ng-if="!isMobile" href="angularweb/assets/css/common-all-debug.css" rel="stylesheet" /> -->
<link ng-if="!isMobile" href="angularweb/assets/css/testdrive.css" rel="stylesheet" />
<link ng-if="!isMobile" href="angularweb/assets/css/dealer.css" rel="stylesheet" />
<link ng-if="!isMobile" href="angularweb/assets/css/finance.css" rel="stylesheet" />
<link ng-if="!isMobile" href="angularweb/assets/css/recruit.css" rel="stylesheet" />
<link ng-if="!isMobile" href="angularweb/assets/css/apply_loan.css" rel="stylesheet" />	

<link href="angularweb/assets/css/common.css"  rel="stylesheet" />
<!-- <link href="angularweb/assets/css/config.css" rel="stylesheet" />	
<link href="angularweb/assets/css/main.css" rel="stylesheet" />	 -->	

<!--[if lt IE 9]>
        <script src="js/css3-mediaqueries.js"></script>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
<!-- <script src="angularweb/assets/js/testdrive.js"></script> -->
<!-- its for rating -->
	<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&amp;ak=4U6z88V8GZTUyvT6QnMUczUzQetGe5bs&amp;s=1"></script>
	<!-- <script type="text/javascript" src="angularweb/assets/js/baidu.js"></script> -->
	<script type="text/javascript" src="angularweb/assets/js/EventWrapper.min.js"></script>
	<script src="angularweb/assets/js/jquery.min.js"></script>
	<script src="angularweb/assets/js/bootstrap.js"></script>
	<script src="angularweb/assets/js/jquery.nstSlider.min.js"></script>	
<script src="angularweb/assets/js/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angulartics/1.2.1/angulartics.min.js"></script>
		<script src="angularweb/assets/js/angulartics-ga.min.js"></script>
		<script src="angularweb/assets/js/chosen.jquery.js"
		type="text/javascript"></script>
	<!-- <script src="angularweb/assets/js/angular-chosen.min.js"></script> -->
	<script src="angularweb/assets/js/angular-chosen.js"></script>
	<script src="angularweb/assets/js/angular-sanitize.min.js"></script>
	
	<script src="angularweb/assets/js/common.js"></script>
<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  	ga('create', 'UA-409963885-5', 'auto' );
  	//ga('send', 'pageview');
	</script>
</head>
<body>
	<div ui-view="" id="container"></div>
	<!-- 主导航 更多内容-->

	<!-- angular single page loading -->
	<!-- js -->
	<!-- <script src="angularweb/assets/js/jquery-1.10.2.min.js"></script> -->
	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> -->

	<!-- <script type="text/javascript"
		src="angularweb/assets/js/angular-baidu-map.min.js"></script> -->

	

	<!-- <script src="angularweb/assets/js/dealer.js"></script> -->
	<script src="angularweb/assets/js/angular-cookies.js"></script>
	<script src="angularweb/assets/js/angular-resource.js"></script>
	<script src="angularweb/assets/js/angular-route.min.js"></script>
	<script src="angularweb/assets/js/angular-ui-router.min.js"></script>
	<script src="angularweb/assets/js/ui-bootstrap-tpls.min.js"></script>	
	<script type="text/javascript"
		src="angularweb/assets/js/ngStorage.min.js"></script>
	<script type="text/javascript"
		src="angularweb/assets/js/ocLazyLoad.min.js"></script>
	<script type="text/javascript"
		src="angularweb/assets/js/ngDialog.min.js"></script>
	<!-- <script src="angularweb/assets/js/recruit_reg.js"></script> -->
	<!-- pagination -->
	<script src="angularweb/assets/js/dirPagination.js"></script>
	<script src="angularweb/assets/js/common_mobile.js"></script>

	<!-- Baidu map -->

	<script src="angularweb/app/app.js"></script>
	<script type="text/javascript"
		src="angularweb/assets/js/ngGeolocation.js"></script>
	<!-- Controllers -->
	<script src="angularweb/app/Service/vwAppFactory.js"></script>
	<script src="angularweb/app/Service/localizationService.js"></script>
	<script src="angularweb/app/Service/homeService.js"></script>
	<script src="angularweb/app/Service/testDriveService.js"></script>
	<script src="angularweb/app/Service/dealerRecruitService.js"></script>
	<script src="angularweb/app/controller/mainController.js"></script>
	<script src="angularweb/app/Service/financeService.js"></script>
	<script src="angularweb/app/Service/AuthService.js"></script>
	<script src="angularweb/app/Service/carService.js"></script>
	<script src="angularweb/app/controller/searchDealerController.js"></script>
	<script src="angularweb/app/controller/testMobileController.js"></script>
	<script src="angularweb/app/controller/searchMobileController.js"></script>
	<script src="angularweb/app/controller/testController.js"></script>
	<script src="angularweb/app/controller/searchController.js"></script>
	<script src="angularweb/app/controller/testDriveController.js"></script>
	<script src="angularweb/app/controller/testDriveMobileController.js"></script>
	<script src="angularweb/app/controller/financeController.js"></script>
	<script src="angularweb/app/controller/dealerRecruitmentController.js"></script>
	<script src="angularweb/app/controller/applyLoanController.js"></script>
	<script src="angularweb/app/controller/dealerRecruitDetailsController.js"></script>
	<script src="angularweb/app/controller/dealerRecruitApplyController.js"></script>	
    <script src="angularweb/app/controller/recruitLoginController.js"></script>		
	<script type="text/javascript" src="angularweb/assets/js/MapPopupSms.js"></script>
	<script src="angularweb/app/controller/carConfigController.js"></script>	
	<script src="angularweb/app/controller/carComparisonController.js"></script>	
</body>

</html>
